#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/messages.css'}" />
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
#{/set}


#{set 'moreScripts'}
    <script src="@{'/public/javascripts/profile/profileHome.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
		$(document).ready(function() {
			init("${visitedUserProfile.hasAtLeastOnePendingReceivedContactsRequest()}");
		})
	</script>
#{/set}


<div id="personalContainer"	class="pageContainer">

	<div class="homeToggleBlock">
		
		<span class="toggleLink dabLink">&{'yourProjects'} (${visitedUserProfile.numberOfConfirmedProjects})...</span>
		<div class="toggleContainer" style="display: none">
			 #{list items:visitedUserProfile.confirmedProjects, as:'oneProject'}
				#{projectParticipation participation: oneProject /}
			 #{/list}
		</div>
		
		
		<div class="homeToggleBlock">
			<span class="toggleLink dabLink">&{'yourGroups'} ... </span>
				<div class="toggleContainer">Proin interdum, libero non
					vehicula vulputate, velit mi porta turpis, vitae consequat risus
					felis sit amet augue. Maecenas eget urna et lacus porta rhoncus
					sed sed urna. Proin elementum lobortis iaculis. Nulla facilisi.
					Nullam consectetur nunc nec nunc sollicitudin placerat. Integer
					tristique commodo metus in accumsan. Vestibulum lacinia sem id
					lorem viverra accumsan tempor nec felis. Donec in magna at lacus
					semper viverra id vitae diam. Aenean varius dui et eros
					condimentum dapibus. Sed turpis tellus, aliquam pulvinar mollis
					sed, tempor sed eros. Sed feugiat venenatis urna, at euismod velit
					viverra nec. Phasellus ultrices tempor mi, vel facilisis lacus
					sagittis ut. Vivamus vulputate egestas tortor, eget vestibulum
					orci fringilla at. Donec adipiscing nisi vitae nulla consectetur
					volutpat. Cras at semper nibh. Morbi non justo in dolor rhoncus
					elementum. Ut tellus tortor, mollis sed vehicula id, tincidunt sed
					sapien. Nulla nisl nunc, lacinia sit amet luctus sit amet,
					fermentum ac tortor. Ut volutpat rutrum nunc, eget sollicitudin
					massa eleifend ut. Suspendisse semper risus vitae nibh adipiscing
					mollis. Vivamus sollicitudin aliquam magna, sed dapibus dui
					vestibulum eu. In molestie diam eros. Aliquam id justo risus.</div>
			</div>
			
			<div class="homeToggleBlock">
				<span class="toggleLink dabLink">&{'yourInbox'} (${numberOfUnreadReceivedMessages})... </span>
				<div class="toggleContainer">
					#{if numberOfUnreadReceivedMessages > 0}
						<table class="messagesListTable">
							<tbody>
								<tr class="messagesListTableHeader">
									<td>&nbsp;</td>
									<td>&{'profileMessagesFrom'}</td>
									<td>&{'profileMessagesSubject'}</td>
									<td>&{'profileMessagesReceived'}</td>
								</tr>
								
								#{list items:unreadInboxMessages, as:'message'}
									<tr class="inboxRowTr">
										<td class="inboxRowUnread">
											&nbsp;
											<span class="hidden">${message.id}</span>
										
										</td>
										<td class="inboxRowUnread">
											#{if message.fromUser.profileActive}
												<a class="dabLink" href="/profile/public?vuser=${message.fromUser.userName}">${message.fromUser.userName}</a>
											#{/if}
											#{if !message.fromUser.profileActive}
												<span class="dabLinkDisabled">${message.fromUser.userName}</span>
											#{/if}
										</td>
										<td class="inboxRowUnread">${message.subject}</td>
										<td class="inboxRowUnread">${message.creationDate.format(controllers.BeanProvider.config.dateTimeDisplayFormat)}</td>
									</tr>
								#{/list}
								
							</tbody>
						</table>
					#{/if}
				</div>
			</div>
			
			
			<div class="homeToggleBlock">
				<span class="toggleLink dabLink">&{'yourApplications'} (${visitedUserProfile.numberOfApplications})...</span>
				<div id="applicationsDetails" class="toggleContainer">
					 #{list items:visitedUserProfile.applications, as:'oneProject'}
					 	#{projectParticipation participation: oneProject /}
					 #{/list}
				</div>
			</div>
		
		
	</div>
	
	<div id="pendingInvitationNotificationContainer"
		class="notificationContainer">
		<div id="basic-template">
			<a class="ui-notify-cross ui-notify-close" href="#">x</a>
			<p>
				&{'homeYouHavePendingInvitationNotificationPart1'}
				<a href="@{profile.ProfileView.profileView( userSession.loggedInUserProfileId )}" class="dabLinkNotification">&{'homeYouHavePendingInvitationNotificationLinkName'}</a>
				&{'homeYouHavePendingInvitationNotificationPart2'}
			</p>
		</div>
	</div>
				
</div>


<div id="hiddenRedirectToInboxForm" class="hidden">
	#{form @messages.MessagesInbox.goToMessage()}
		<input type="hidden" id="messageId" name="messageId" />
	#{/form}
</div>
