#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/profile/profileHome.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
		$(document).ready(function() {
			init("${visitedUserProfile.hasAtLeastOnePendingReceivedContactsRequest()}");
		});
	</script>
#{/set}


<div id="personalContainer"	class="pageContainer">

	<div class="homeToggleBlock">
		
		<span class="toggleLink dabLink">&{'yourProjects'} (${visitedUserProfile.numberOfConfirmedProjects})...</span>
		<div class="toggleContainer" style="display: none">
			 #{list items:visitedUserProfile.confirmedProjects, as:'oneProject'}
				#{projectParticipation participation: oneProject, dabImagesPath:dabImagesPath /}
			 #{/list}
		</div>
		
		
		<div class="homeToggleBlock">
			<span class="toggleLink dabLink">&{'yourGroups'} (${visitedUserProfile.numberOfGroups})... </span>
				<div class="toggleContainer" style="display: none">
					 #{list items:visitedUserProfile.groups, as:'oneGroup'}
					 	#{groups.groupParticipation group: oneGroup, dabImagesPath:dabImagesPath /}
					 #{/list}
				</div>
			</div>
			
			<div class="homeToggleBlock">
				<span class="toggleLink dabLink">&{'yourInbox'} (${numberOfUnreadReceivedMessages})... </span>
				<div class="toggleContainer">
					#{if numberOfUnreadReceivedMessages > 0}
						<table class="messagesListTable">
							<tbody>
								<tr class="messagesListTableHeader">
									<td>&nbsp;</td>
									<td>&{'profileMessagesFrom'}</td>
									<td>&{'profileMessagesSubject'}</td>
									<td>&{'profileMessagesReceived'}</td>
								</tr>
								
								#{list items:unreadInboxMessages, as:'message'}
									<tr class="inboxRowTr">
										<td class="inboxRowUnread">
											&nbsp;
											<span class="hidden">${message.id}</span>
										
										</td>
										<td class="inboxRowUnread">
											#{if message.fromUser.profileActive}
												<a class="dabLink" href="@{profile.ProfileView.profileView( message.fromUser.userName)}">${message.fromUser.userName}</a>
											#{/if}
											#{if !message.fromUser.profileActive}
												<span class="dabLinkDisabled">${message.fromUser.userName}</span>
											#{/if}
										</td>
										<td class="inboxRowUnread">${message.subject}</td>
										<td class="inboxRowUnread">${message.creationDate.format(controllers.BeanProvider.config.dateTimeDisplayFormat)}</td>
									</tr>
								#{/list}
								
							</tbody>
						</table>
					#{/if}
				</div>
			</div>
			
			
			<div class="homeToggleBlock">
				<span class="toggleLink dabLink">&{'yourApplications'} (${visitedUserProfile.numberOfApplications})...</span>
				<div id="applicationsDetails" class="toggleContainer">
					 #{list items:visitedUserProfile.applications, as:'oneProject'}
					 	#{projectParticipation participation: oneProject, dabImagesPath:dabImagesPath /}
					 #{/list}
				</div>
			</div>
		
		
	</div>
	
	<div id="pendingInvitationNotificationContainer"
		class="notificationContainer">
		<div id="basic-template">
			<a class="ui-notify-cross ui-notify-close" href="#">x</a>
			<p>
				&{'homeYouHavePendingInvitationNotificationPart1'}
				<a href="@{profile.ProfileView.profileView( userSession.loggedInUserProfileId )}" class="dabLinkNotification">&{'homeYouHavePendingInvitationNotificationLinkName'}</a>
				&{'homeYouHavePendingInvitationNotificationPart2'}
			</p>
		</div>
	</div>
				
</div>


<div id="hiddenRedirectToInboxForm" class="hidden">
	#{form @messages.MessagesInbox.goToMessage()}
		<input type="hidden" id="messageId" name="messageId" />
	#{/form}
</div>
