#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/messages.css'}" />
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
#{/set}


#{set 'moreScripts'}
    <script src="@{'/public/javascripts/profile/profileHome.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
		$(document).ready(function() {
			init("${visitedUserProfile.hasAtLeastOnePendingReceivedContactsRequest()}");
		})
	</script>
#{/set}


<div id="personalContainer"	class="pageContainer">

	<div class="homeToggleBlock">
		
		<span class="toggleLink dabLink">&{'yourProjects'} (${visitedUserProfile.numberOfProjects}) </span>
		<div class="toggleContainer" style="display: none">
			 #{list items:visitedUserProfile.projects, as:'oneProject'}
					#{projectSummary participation: oneProject /}
			 #{/list}
		</div>
		
		
		<div class="homeToggleBlock">
			<span class="toggleLink dabLink">&{'yourGroups'} ... </span>
				<div class="toggleContainer">Proin interdum, libero non
					vehicula vulputate, velit mi porta turpis, vitae consequat risus
					felis sit amet augue. Maecenas eget urna et lacus porta rhoncus
					sed sed urna. Proin elementum lobortis iaculis. Nulla facilisi.
					Nullam consectetur nunc nec nunc sollicitudin placerat. Integer
					tristique commodo metus in accumsan. Vestibulum lacinia sem id
					lorem viverra accumsan tempor nec felis. Donec in magna at lacus
					semper viverra id vitae diam. Aenean varius dui et eros
					condimentum dapibus. Sed turpis tellus, aliquam pulvinar mollis
					sed, tempor sed eros. Sed feugiat venenatis urna, at euismod velit
					viverra nec. Phasellus ultrices tempor mi, vel facilisis lacus
					sagittis ut. Vivamus vulputate egestas tortor, eget vestibulum
					orci fringilla at. Donec adipiscing nisi vitae nulla consectetur
					volutpat. Cras at semper nibh. Morbi non justo in dolor rhoncus
					elementum. Ut tellus tortor, mollis sed vehicula id, tincidunt sed
					sapien. Nulla nisl nunc, lacinia sit amet luctus sit amet,
					fermentum ac tortor. Ut volutpat rutrum nunc, eget sollicitudin
					massa eleifend ut. Suspendisse semper risus vitae nibh adipiscing
					mollis. Vivamus sollicitudin aliquam magna, sed dapibus dui
					vestibulum eu. In molestie diam eros. Aliquam id justo risus.</div>
			</div>
			
			<div class="homeToggleBlock">
				<span class="toggleLink dabLink">&{'yourInbox'} (${numberOfUnreadReceivedMessages})... </span>
				<div class="toggleContainer">Proin interdum, libero non
					vehicula vulputate, velit mi porta turpis, vitae consequat risus
					felis sit amet augue. Maecenas eget urna et lacus porta rhoncus
					sed sed urna. Proin elementum lobortis iaculis. Nulla facilisi.
					Nullam consectetur nunc nec nunc sollicitudin placerat. Integer
					tristique commodo metus in accumsan. Vestibulum lacinia sem id
					lorem viverra accumsan tempor nec felis. Donec in magna at lacus
					semper viverra id vitae diam. Aenean varius dui et eros
					condimentum dapibus. Sed turpis tellus, aliquam pulvinar mollis
					sed, tempor sed eros. Sed feugiat venenatis urna, at euismod velit
					viverra nec. Phasellus ultrices tempor mi, vel facilisis lacus
					sagittis ut. Vivamus vulputate egestas tortor, eget vestibulum
					orci fringilla at. Donec adipiscing nisi vitae nulla consectetur
					volutpat. Cras at semper nibh. Morbi non justo in dolor rhoncus
					elementum. Ut tellus tortor, mollis sed vehicula id, tincidunt sed
					sapien. Nulla nisl nunc, lacinia sit amet luctus sit amet,
					fermentum ac tortor. Ut volutpat rutrum nunc, eget sollicitudin
					massa eleifend ut. Suspendisse semper risus vitae nibh adipiscing
					mollis. Vivamus sollicitudin aliquam magna, sed dapibus dui
					vestibulum eu. In molestie diam eros. Aliquam id justo risus.</div>
				</div>
			
			</div>
			
			
			<div class="homeToggleBlock">
				<span class="toggleLink dabLink">&{'yourApplications'} ... </span>
					<div id="applicationsDetails" class="toggleContainer">Aliquam
						ligula magna, venenatis eu sodales eget, lobortis eget nisi. Duis
						adipiscing scelerisque tristique. Nullam nec justo urna, nec
						rutrum eros. Nulla in arcu nisi, eget sodales elit. Praesent
						tincidunt quam eu metus viverra congue. Cras sit amet est dui.
						Quisque suscipit dapibus quam in tempor. Duis sodales nulla sed
						nisl venenatis vulputate. Nunc est justo, ultricies a iaculis id,
						bibendum quis velit. Nam a sollicitudin urna. Duis aliquam tortor
						vel odio ullamcorper eget tempus justo pulvinar. Curabitur eu
						augue ac diam scelerisque tincidunt non dictum leo. Cras tincidunt
						nisi ac justo commodo eleifend. Sed imperdiet condimentum ligula,
						vitae eleifend massa vulputate vitae. Fusce quis ligula eget
						mauris ultrices vestibulum. Fusce at nulla diam, sed molestie
						libero. Praesent luctus sapien id mi imperdiet at egestas nunc
						consectetur.</div>
				</div>
		
		
	</div>
	
	<div id="pendingInvitationNotificationContainer"
		class="notificationContainer">
		<div id="basic-template">
			<a class="ui-notify-cross ui-notify-close" href="#">x</a>
			<p>
				&{'homeYouHavePendingInvitationNotificationPart1'}
				<a href="@{profile.ProfileView.profileView( userSession.loggedInUserProfileId )}" class="dabLinkNotification">&{'homeYouHavePendingInvitationNotificationLinkName'}</a>
				&{'homeYouHavePendingInvitationNotificationPart2'}
			</p>
		</div>
	</div>
				
				
</div>