#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/projects/projectsEdit.css'}" />
#{/set}


#{set 'moreScripts'}
    <script src="@{'/public/javascripts/projects/projectsThemes.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/projects/projectsEditResources.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/projects/projectsEditTasks.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/projects/projectsEditAssets.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/projects/projectsEdit.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
		$(document).ready(function() {
			init();
		})
	</script>
#{/set}

<span id="allPossibleLanguageNames" style="display: none">${allPossibleLanguageNames}</span>

<div class="pageContainer">

	<div id="projectNewContainer" class="projectEditionFormContainer">
		#{form @projects.ProjectsNew.doCreateProject() }
			<table id="editProjectTable">
			
				#{dab.inputText 
					label:messages.get('projectNewProjectName'),
					required: true,
					inputName: "editedProject.pdata.name",
					cols: 35
				/}

				#{dab.inputText 
					label: messages.get('projectNewProjectGoal'),
					required: true,
					inputName: "editedProject.pdata.goal",
					cols: 35,
					explanation: messages.get('projectNewProjectGoalExplanation')
				/}
				
				#{projects.projectCreateEditCommon editedProject:editedProject, projectEditVisibility:projectEditVisibility, allThemes:allThemes  /}
				
				<tr>
					<td></td>
					<td>
						<input id="editProfileButton" type="button" value="&{'projectNewStartProjectButton'}" />
					</td>
				</tr>
			</table>
			
		#{/form }
	</div>

</div>




