#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/photoedit.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>

    <script src="@{'/public/javascripts/projects/projectsEditPhotos.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>

    	
    <script type="text/javascript">
			var okText = "&{'OkButton'}";
			var cancelText = "&{'CancelButton'}";
			var setCaptionText = "&{'profileMPClickToSetCaption'}";

		   	var updatePhotoCaptionAction 	= #{jsAction @projects.ProjectsEditPhotos.doUpdatePhotoCaption(':photoIndex', ':photoCaption') /};
			
			$(document).ready(function() {
				init();
			})
		</script>
#{/set}



#{profile.photos.uploadPhotoThumbs photoPack:editedProject.photosPack20/}

#{profile.photos.uploadPhotoMPToolbox uploadPhotoLinkActive:uploadPhotoLinkActive, setAsMainPhotoText:"projectPhotosSetAsMainPhoto", photoEditType:"project" /}

#{profile.photos.profileMPCentralPhotoContainer /}


