#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/photoedit.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>

    <script src="@{'/public/javascripts/projects/projectsEditPhotos.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>

    <script type="text/javascript">
		var setCaptionText = "&{'profileMPClickToSetCaption'}";
		var mainPhotoIndex = "${editedProject.getPhotoAlbum().getMainPhotoIndex()}";

	   	var updatePhotoCaptionAction 	= #{jsAction @projects.ProjectsEditPhotos.doUpdatePhotoCaption(':photoIndex', ':photoCaption') /};
	</script>
#{/set}

#{photos.uploadPhotoThumbs photoAlbum:editedProject.getPhotoAlbum() /}

#{photos.uploadPhotoMPToolbox uploadPhotoLinkActive:uploadPhotoLinkActive, setAsMainPhotoText:"projectPhotosSetAsMainPhoto", photoEditType:"project" /}

#{photos.centralPhotoContainer /}

<div id="hiddenUploadPhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{projects.ProjectsEditPhotos.doUploadPhoto()}">
		<input type="file" id="theFile" name="theFile"  />
	</form>
</div>

<div id="hiddenDeletePhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{projects.ProjectsEditPhotos.doDeletePhoto()}">
		<input type="hidden" id="deletedPhotoIdx" name="deletedPhotoIdx"  />
	</form>
</div>
	
<div id="hiddenSetAsMainPhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{projects.ProjectsEditPhotos.doSetAsMainPhoto()}">
		<input type="hidden" id="photoIndex" name="photoIndex"  />
	</form>
</div>