#{extends 'masterTemplate.html' /} 

#{set 'moreStyles'}
#{/set} 

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/groups/groupsEdit.js'}" type="text/javascript" charset="${_response_encoding}"></script>

	<script type="text/javascript">
		var allThemes = ${allThemesJson.raw()};
	</script>

#{/set}

<div class="pageContainer">

	<div class="groupsEditionContainer">
		#{form @groups.GroupsNew.doCreateGroup() }
			<table>
				#{groups.groupsNewEditCommon allThemes:allThemes, dabImagesPath:dabImagesPath /}
				<tr>
					<td>
					</td>
					<td>
					</td>
				</tr>
								
			</table>
		#{/form }
		
		<div class="buttonBox">
			<input id="startGroupButton" type="button"  value="&{'groupsEditCreateGroupButton'}"></input>
		</div>
	</div>

</div>
