<span class="hiddenContactId" style="display: none" id="${_contact.contactId}">${_contact.contactId}</span>

<a href="@{profile.ProfileView.profileView( _contact.otherUser.userName)}" class="dabLink">
	<img src="${_contact.otherUser.mainPhotoThumbLink}" class="profileContactThumb" />
</a>

<div class="profileContactLink">

	#{if _profileVisibility.visitingHisOwnProfile}
		<img src="@{'/public/images/trash.png'}" class="deleteImageLink" />
		<span class="hiddenUserName" style="display: none">${_contact.otherUser.userName}</span>
	#{/if}

	<a href="@{profile.ProfileView.profileView( _contact.otherUser.userName)}" class="dabLink">${_contact.otherUser.userName}</a>
	
	${_contact.otherUser.location}
</div>



