	<span class="hiddenRefid" style="display: none" id="${_reference.id}">${_reference.id}</span>
	
	<p>


		#{if _loggedInUserProfileId == _reference.fromUser.userName}
			<img src="@{'/public/images/trash.png'}" class="deleteImageLink" onclick="showConfirmRemoveReferencePopup('${_reference.id}', '${_reference.toUser.userName}')"></img>
		#{/if }

		<span class="referenceFromFor">&{'from'}: </span>

		#{if _reference.fromUser.profileActive}
			<a href="@{profile.ProfileView.profileView( _reference.fromUser.userName )}" class="dabLink">${_reference.fromUser.userName}</a>
		#{/if }
		#{if ! _reference.fromUser.profileActive}
			<span class="dabLinkDisabled">${_reference.fromUser.userName}</span>
		#{/if }
		
		${_reference.fromUser.location} &{'leftOn'} ${_reference.creationDateStr}

		<img src="${_reference.fromUser.mainPhotoThumbLink}" class="profileContactThumb"></img>
		
	</p>
	<p>
		${_reference.text}
	</p>

