

	<span class="hiddenSentContactRequestId" style="display: none" id="${_contact.contactId}">${_contact.contactId}</span>

	&{'profileSentContactRequest'}

	<span  class="dabLinkLSpaced cancelRequestedContact">&{'profileCancelAddedToContactRequest'}</span>

	<span class="hiddenUserName" style="display: none">${_contact.requestedToUser.userName} </span>
	
	<img src="${_contact.recipientUserMainPhotoThumbLink}" class="profileContactThumb"></img>

	<div class="profileContactLink">
		<a href="@{profile.ProfileView.profileView( _contact.requestedToUser.userName)}" class="dabLink">${_contact.requestedToUser.userName}</a>
		${_contact.requestedToUser.location}
	</div>

