#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/messages/messagesList.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
	   	var currentPage = 0;
	   	var loadOnePageAction = #{jsAction @messages.MessagesDeleted.loadMessages(':pageNumber') /};
	   	var undeleteMessageAction 	= #{jsAction @messages.MessagesDeleted.doUndeleteMessage(':messageIds') /};
	</script>
#{/set}


<div id="messagesContainer" class="messagesMainContainer">
	<div class="messagesTable">
	
		<table class="messagesListTable" id="messagesListTable">
			<thead>
				<tr class="messagesListTableHeader">
					<td class="inboxOutboxDeleteCheckbox">
						<input type="checkbox" id="masterCheckbox"/>
					</td>
					<td>&{'profileMessagesFrom'}</td>
					<td>&{'profileMessagesTo'}</td>
					<td>&{'profileMessagesSubject'}</td>
					<td>&{'profileMessagesReceived'}</td>
				</tr>
			</thead>

			<tbody data-bind="foreach: messages">
				<tr class="inboxRowTr">
					<td class="inboxOutboxDeleteCheckbox"><input type="checkbox" class="msgCb"/></td>
					<td class="inboxRow">
						<a class="dabLink" data-bind="visible: fromUser().isProfileActive, text: fromUser().userName, attr: {href: fromUser().linkToProfile}"></a>
						<span class="dabLinkDisabled" data-bind="visible: !fromUser().isProfileActive, text: fromUser().userName"></span>
					</td>

					<td class="inboxRow" >
						<a class="dabLink" data-bind="visible: toUser().isProfileActive, text: toUser().userName, attr: {href: toUser().linkToProfile}"></a>
						<span class="dabLinkDisabled" data-bind="visible: !toUser().isProfileActive, text: toUser().userName"></span>
					</td>
					
					<td class="inboxRow">
						<span data-bind="text: subject"></span>
					</td>
					
					<td class="inboxRow">
						<span data-bind="text: creationDate"></span>
					</td>
				</tr>
			</tbody>

			<tr class="messagesListTableHeader" id="topMessageListLastRow">
				<td colspan="3"><span id="undeleteSelectedMessagesLink" data-bind="css: {messagesReactionLinkEnabled : isAtLeastOneMessageSelected(), messagesReactionLinkDisabled : !isAtLeastOneMessageSelected()}" >&{'profileMessagesUndeleteSelected'}</span></td>
				<td colspan="2" class="profileMessagesInboxBottomRight">
					<span id="messagesPreviousLink"  data-bind="css: {messagesReactionLinkEnabled: previousPageExists(), messagesReactionLinkDisabled: !previousPageExists()}" >&{'profileMessagesPrevious'}</span>
					<span id="messagesNextLink" data-bind="css: {messagesReactionLinkEnabled: nextPageExists(), messagesReactionLinkDisabled: !nextPageExists()}" >&{'profileMessagesNext'}</span>
				</td>
			</tr>
		</table>
			
		<table class="messageDetailTable">
			<thead>
				<tr class="messagesListTableHeader">
					<td>&nbsp;</td>
					<td>&{'profileMessagesFrom'}: <a id="messageDetailFrom" class="messagesListTableHeaderSmall dabLink"></a>
						<a class="dabLink" data-bind="visible: displayedMessage.fromUser().isProfileActive, text: displayedMessage.fromUser().userName, attr: {href: displayedMessage.fromUser().linkToProfile}"></a>
						<span class="dabLinkDisabled" data-bind="visible: !displayedMessage.fromUser().isProfileActive, text: displayedMessage.fromUser().userName"></span>
					</td>
					<td>&{'profileMessagesTo'}:   
						<a class="dabLink" data-bind="visible: displayedMessage.toUser().isProfileActive, text: displayedMessage.toUser().userName, attr: {href: displayedMessage.toUser().linkToProfile}"></a>
						<span class="dabLinkDisabled" data-bind="visible: !displayedMessage.toUser().isProfileActive, text: displayedMessage.toUser().userName"></span>
					</td>
					<td>&{'profileMessagesSubject'}: <span class="messagesListTableHeaderSmall" data-bind="text: displayedMessage.subject"></span></td>
					<td> <span id="messageDetailDate" class="messagesListTableHeaderSmall" data-bind="text: displayedMessage.creationDate"></span></td>
					
					<td class="profileMessagesInboxBottomRight">
						<span id="replyToLink" data-bind="css: {messagesReactionLinkEnabled: displayedMessage.fromUser().isProfileActive,  messagesReactionLinkDisabled: !displayedMessage.fromUser().isProfileActive}" >&{'profileMessagesReply'}</span> 
						<span id="forwardLink" style="margin-left: 10px" data-bind="css: {messagesReactionLinkEnabled: messageReactionEnabled(),  messagesReactionLinkDisabled: !messageReactionEnabled()}">&{'profileMessagesForward'}</span> 
					</td>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td colspan="6">
						<textarea id="messageContent" data-bind="text: displayedMessage.content"></textarea>
					</td>
				</tr>
			</tbody>			
		</table>
	</div>
</div>


<div id="hiddenReplyToForm" class="hidden">
	#{form @messages.MessagesDeleted.doReplyTo() }
		<input type="hidden" name="messageId" class="hiddenSubmit" />
	#{/form}
</div>

<div id="hiddenForwardForm" class="hidden">
	#{form @messages.MessagesDeleted.doForward() }
		<input type="hidden" name="messageId" class="hiddenSubmit" />
	#{/form}
</div>

<div id="confirmUndeleteMessages" title="&{'confirmationPopupTitle'}">
	&{'profileDeletedMessagesConfirmUndeletion'}
</div>
