<div title="${_popupTitle}" class="emailPopup">

	<table>

		<tr>
			<td class="formlabel"><label>from: </label></td>
			<td><label>noreply@altermotif.org </label></td>
		</tr>

		<tr>
			<td class="formlabel"><label>replyTo: </label></td>
			<td><input class="replyToInput" size="20"></input> <br /> <span
				class="formFieldExplanation">&{'emailPopupReplyToExplanation'}</span>
			</td>
		</tr>

		<tr>
			<td class="formlabel"><label>&{'emailPopupTo'}*: </label></td>
			<td><input class="toInput" size="20"></input> <br /> <span
				class="formFieldExplanation">&{'emailPopupToExplanation'}</span>
			</td>
		</tr>

		<tr>
			<td class="formlabel"><label>&{'emailPopupSubject'}*: </label></td>
			<td><input class="subjectInput" size="80"></input></td>
		</tr>

		<tr>
			<td class="formlabel"><label>&{'emailPopupText'}*: </label></td>
			<td><textarea class="textInput" cols="80" rows="10"></textarea></td>
		</tr>

	</table>

</div>