<div >
	<span class="threadId">${_thread.id}</span>
	#{if _thread.projectId != null }
		<a class="threadLink" href="@{forum.ForumThreadView.projectForumThread(_thread.projectId, _thread.id)}"></a>
	#{/if}
	#{if _thread.groupid != null }
		<a class="threadLink" href="@{forum.ForumThreadView.groupForumThread(_thread.groupid, _thread.id)}"></a>
	#{/if}
	<span class="threadIsPublic">${_thread.isThreadPublic}</span>
	<span class="threadTitle">${_thread.title}</span>
	<span class="threadCreationDate">${_thread.creationDate.format(controllers.BeanProvider.config.dateDisplayFormat)}</span>
	<span class="numberOfPosts">${_thread.numberOfPosts}</span>
	<span class="threadUserMayUpdateVisibility">${_userMayUpdate}</span>
	<span class="threadUserMayDeleteThread">${_userMayDelete}</span>
</div>
