*{ visual part of the mechanics for editing tags (with buttons appearing/disapearing as the user interracts...)   }*

<ul id="tagGroup">
	<li id="hiddenTagTemplate" class="hidden"><span ></span> <img id="trashImg" src="@{'/public/images/trash.png'}"  class="deleteImageLink" /></li>
</ul>

<ul>
	<li class="hidden" id="tagInputCommand">
		<input id="addTagInput" class="rightspaced" size="15"> </input>
		<span  id="addTagSecondButton" class="dabLink rightspaced" >&{'add'}</span>
		<span  id="addTagCancelButton" class="dabLink" >&{'CancelButton'}</span>
	</li>
	<li>
		<span id="addTagLink" class="dabLink" >&{'projectNewAddOneTagLink'}</span>
	</li>
</ul>
