<div>

	<ul class="locationsList" data-bind="foreach: locations">
		<li >
			<span class="hidden hiddenLocationIndex" data-bind="text: index"></span> 
			<span  data-bind="text: location"></span> 
			<img src="@{'/public/images/trash.png'}"  class="deleteImageLink"></img>
		</li>
	</ul>


	<span  class="addLocationLink dabLink"> ${_addLocationLinkLabel}...</span>
	<div class="editGroupLocation">
		#{dab.inputLocation /}
	</div>
	#{if _explanation != null}
		<br />
		<span class="formFieldExplanation">${_explanation}</span>
	#{/if}
	

</div>