<div class="inputMultiThemes">

	<ul class="selectedThemes" data-bind="foreach: selectedThemes">
		<li>
			<span class="hidden hiddenThemeId" data-bind="text: themeId"></span>
			<span class="hidden hiddenSubThemeId" data-bind="text: subThemeId"></span>
			<span data-bind="text: themeLabel"></span>
			(<span data-bind="text: subThemeLabel"></span>)
			#{if ! _readOnly}
				<img id="trashImg" src="${_dabImagesPath}/trash.png"  class="deleteImageLink"/>
			#{/if}
		</li>
	</ul>	
	
	#{if ! _readOnly}
		<span  class="addThemeLink dabLink" data-bind="visible: inputMode() == 'normal' "> ${_addThemeLinkLabel}</span>
		#{if _explanationText != null}
			<br />
			<span class="formFieldExplanation">${explanationText}</span>
		#{/if}

	
		<div class="addThemeLine" data-bind="visible: inputMode() == 'edition' ">
	
			<select class="mainSelect" data-bind="options: mainListData, optionsText: 'label', optionsValue: 'id' "></select>
			<select class="secondarySelect" data-bind="options: secondaryListData, optionsText: 'label', optionsValue: 'id' "></select>
	
			<span  class="addButton dabLink rightspaced" >&{'add'}</span>
			<span  class="cancelButton dabLink" >&{'CancelButton'}</span>
		</div>
	#{/if}

</div>