#{extends 'masterTemplate.html' /}


<ul>

	<li>
	#{form @Admin.doUpdateCreationDateOfAllProjectSummaries()}
		<input type="submit" value="update all project summaries"></input>
	#{/form }
	</li>
	
	<li>
	#{form @Admin.doLaunchCountTagsJob()}
		<input type="submit" value="launch count tags map/reduce job"></input>
	#{/form }
	</li>
	
	<li>
	#{form @Admin.doIndexAllProjects()}
		<input type="submit" value="index all projects"></input>
	#{/form }
	</li>

	<li>
	#{form @Admin.doTestEmail()}
		<input type="submit" value="send test email"></input>
	#{/form }
	</li>

	<li>
	#{form @Admin.doIndexAllGroups()}
		<input type="submit" value="index all groups"></input>
	#{/form }
	</li>


</ul>
