#{if _application.user.isProfileActive() }
	<div id="application${ _application.user.userName}" class="oneUserSummary">
	
		<div class="oneLinerThumbContainer">
	
			<a href="@{profile.ProfileView.profileView( _application.user.userName)}" class="dabLink">
				#{if _application.user.mainPhotoThumbLink != null}
					<img src="${_application.user.mainPhotoThumbLink}" class="profileContactThumb"></img>
				#{/if}
				#{if _application.user.mainPhotoThumbLink == null}
					<img src="@{'/public/images/defaultProfileThumb.jpg'}" class="profileContactThumb"></img>
				#{/if}
			</a>
		
		</div>
		
		<div class="oneLinerContentContainer">
		
			#{if _application.applicationText != null}
				<span  class="dabLink viewInvitationText">&{'viewProjectViewApplicationText'}</span>
			#{/if}
			<span style="display: none">${_application.applicationText}</span>
			
			#{if _projectVisibility.isAllowedToAcceptOrRejectApplications() }
				<span> -  </span>
				<span  class="dabLink acceptApplication">&{'viewProjectViewAcceptContactRequest'}</span>
				<span> &{'orText'}  </span>
				<span  class="dabLink rejectApplication">&{'viewProjectViewRejectContactRequest'}</span>
				<span class="hidden hiddenUserName" >${_application.user.userName}</span>
			#{/if}
		
			<div class="profileContactLink">
				<a href="@{profile.ProfileView.profileView( _application.user.userName)}" class="dabLink">${_application.user.userName}</a>
				<br />
				${_application.user.location}
			</div>
			
		</div>
		
	</div>
#{/if}
	
