<script type="text/javascript">

	var getProjectTasksList = #{jsAction @projects.ProjectsTasksAndAssets.doGetTaskList(':projectId') /};

	// mapping between the task status and the localized name of this status
	var taskStatusLabels = [
	          new dabUtils.LocalizedTaskStatus('todo', "&{'projectTaskTodo'}"),           
	          new dabUtils.LocalizedTaskStatus('done', "&{'projectTaskDone'}")           
         ];
	
	var confirmRemoveUserFromTask = "&{'projectTaskEditionTableConfirmRemoveUser'}";
	var confirmRemoveProjectTaskText = "&{'projectTaskEditionTableConfirmRemoveTask'}";
	var choseTaskAssigneePopupTitle = "&{'projectTaskEditionTableChooseAssigneePopupTitle'}";
	
</script>

<div id="editProjectTasksContainer" class="taskAssetContainer">

	*{ tasks actually submitted back to the server (only new or updated). This is set just before submitting the form  }* 
	<input type="hidden" id="hiddenUpdatedTasksJson" name="editedProject.updatedTasksJson"/>
	<input type="hidden" id="hiddenRemovedTasksIdJson" name="editedProject.removedTasksIdJson"/>

	<table id="projectTaskTable"  class="projectTaskAssestsTable">
		<thead>
			<tr>
				<th></th>
				<th>&{'projectTaskEditionTableTasks'}</th>
				<th>&{'projectTaskEditionTableStatus'}</th>
				<th>&{'projectTaskEditionTableAssignedTo'}</th>
				<th>&{'projectTaskEditionTableDueDate'}</th>
				<th>&{'projectTaskEditionTableDescription'}</th>
			</tr>
		</thead>

		<tbody data-bind="foreach: tasks">
			<tr>
				<td><img id="trashImg" src="@{'/public/images/trash.png'}"  class="deleteImageLink deleteTaskLink" /></td>
				<td><span class="hidden hiddenTaskId" data-bind="text: id"></span><input data-bind="value: name"></input></td>
				<td>
					<select data-bind="options: taskStatusLabels, value: status, optionsValue: 'name', optionText: 'localizedName'" ></select>
				</td>
				<td>
					<ul data-bind="template : {foreach: assignees, beforeRemove: beforeRemoveAssignee, afterAdd: afterAddAssignee}">
						<li><span data-bind="text: userName" class="taskUserName"></span> <img id="trashImg" src="@{'/public/images/trash.png'}"  class="deleteImageLink removeUserLink" /></li>
					</ul>
					<br />
					<span class="dabLink addTaskAssigneeLink"  data-bind="visible: isAddAssigneeVisible">&{'projectTaskEditionTableAddAssignee'}</span>
				</td>
				
				<td >
					<input type="text" size="6" class="dueDateInput" data-bind="value: dueDateStr" ></input>
				</td>
				
				<td >
					<input type="text" size="35" data-bind="value: description" ></input>
				</td>
				
			</tr>
		</tbody>			
			
		<tr class="bottomRow">
			<td />
			<td><span class="dabLink" id="addProjectTaskLink">&{'projectTaskEditionTableAddTask'}</span>
			<td colspan="4"/>
		</tr>
	</table>
	
	#{dab.usersPopupList popupTitle:messages.get('projectTaskEditionTableChooseAssigneePopupTitle'), users:_confirmedActiveParticipants /}
	
</div>