<div class="oneProjectOverviewLine">

	<a href="@{projects.ProjectsView.projectsView( _overview.projectId )}" class="dabLink"> 
	
	#{if !_overview.hasAThumbPhoto() }
			<img src="${_dabImagesPath}/defaultProjectThumb.jpg" class="oneLinerThumb" />
	#{/if}
	
	#{if _overview.hasAThumbPhoto() } 
		<img src="${_overview.mainPhotoThumbLink}" class="oneLinerThumb" />
	#{/if}
	</a>

	<div>
		<table>
			<tbody>
				<tr>
					<td colspan="2"><a href="@{projects.ProjectsView.projectsView( _overview.projectId )}" class="dabLink">${_overview.name}</a></td>
				</tr>
				<tr>
					<td class="formlabel"><label>&{'viewProjectGoal'}:</label></td>
					<td>${_overview.goal}</td>
				</tr>
				<tr>
					<td class="formlabel"><label>&{'viewProjectProject'}:</label></td>
					<td>${_overview.description}</td>
				</tr>
				
				<tr>
					<td class="formlabel"><label>&{'viewProjectNumberOfParticipants'}:</label></td>
					<td>${_overview.numberOfMembers}</td>
				</tr>

				#{if _overview.dueDate != null}
				<tr>
					<td class="formlabel"><label>&{'viewProjectDueDate'}:</label></td>
					<td>${_overview.dueDate.format(controllers.BeanProvider.config.dateDisplayFormat)}</td>
				</tr>
				#{/if}

				#{if _overview.creationDate != null}
				<tr>
					<td class="formlabel"><label>&{'viewProjectCreatedOn'}:</label></td>
					<td>${_overview.creationDate.format(controllers.BeanProvider.config.dateDisplayFormat)}</td>
				</tr>
				#{/if}
				
			</tbody>
		</table>
		
	</div>
</div>

