<script type="text/javascript">

	var getTaskList = #{jsAction @projects.ProjectsTasksAndAssets.doGetTaskList(':projectId') /};
	
	var localizedTaskStatus = function(name, localizedName) {
		this.name = name,
		this.localizedName = localizedName
	}

	// mapping between the task status and the localized name of this status
	var taskStatusLabels = [
	          new localizedTaskStatus('todo', "&{'projectTaskTodo'}"),           
	          new localizedTaskStatus('done', "&{'projectTaskDone'}")           
          ];
	
	var confirmRemoveUserFromTask = "&{'projectTaskEditionTableConfirmRemoveUser'}";
	var confirmRemoveProjectTaskText = "&{'projectTaskEditionTableConfirmRemoveTask'}";
	var choseTaskAssigneePopupTitle = "&{'projectTaskEditionTableChooseAssigneePopupTitle'}";
	
</script>

<div id="editProjectTasksContainer">

	*{ tasks actually submitted back to the server (only new or updated). This is set just before submitting the form  }* 
	<input type="hidden" id="hiddenUpdatedTasksJson" name="editedProject.updatedTasksJson"/>
	<input type="hidden" id="hiddenRemovedTasksIdJson" name="editedProject.removedTasksIdJson"/>

	<table id="projectTaskTable">
		<thead>
			<tr>
				<th></th>
				<th>&{'projectTaskEditionTableTasks'}</th>
				<th>&{'projectTaskEditionTableStatus'}</th>
				<th>&{'projectTaskEditionTableAssignedTo'}</th>
				<th>&{'projectTaskEditionTableDueDate'}</th>
			</tr>
		</thead>

		<tbody data-bind="foreach: projectTasks">
			<tr>
				<td><img id="trashImg" src="@{'/public/images/trash.png'}"  class="deleteImageLink deleteTaskLink" /></td>
				<td><span class="hidden hiddenTaskId" data-bind="text: id"></span><span data-bind="text: name"></span></td>
				<td>
					<select data-bind="options: $parent.allTaskStatus, value: status, optionsValue: 'name', optionText: 'localizedName'" ></select>
				</td>
				<td>
					<ul data-bind="template : {foreach: assignees, beforeRemove: beforeRemoveAssignee, afterAdd: afterAddAssignee}">
						<li><span data-bind="text: userName" class="taskUserName"></span> <img id="trashImg" src="@{'/public/images/trash.png'}"  class="deleteImageLink removeUserLink" /></li>
					</ul>
					<br />
					<span class="dabLink addTaskAssigneeLink"  data-bind="visible: isAddAssigneeVisible">&{'projectTaskEditionTableAddAssignee'}</span>
				</td>
				
				<td >
					<input type="text" size="6" class="dueDateInput" data-bind="value: dueDateStr" ></input>
				</td>
			</tr>
		</tbody>			
			
		<tr class="bottomRow">
			<td />
			<td><span class="dabLink" id="addProjectTaskLink">&{'projectTaskEditionTableAddTask'}</span>
			<td colspan="3"/>
		</tr>
	</table>
	
	#{dab.usersPopupList popupTitle:messages.get('projectTaskEditionTableChooseAssigneePopupTitle'), users:_confirmedActiveParticipants /}
	
	
	<div id="addProjectTaskPopup" title="&{'projectTaskEditionTableNewTaskPopupTitle'}">
		<table>
			<tbody>
				<tr>
					<td class="formlabel"><label>&{'projectTaskEditionTableTasks'}: </label></td>
					<td><input type="text" size="30" class="inputDescription"/></td>
				</tr>
				<tr>
					<td class="formlabel"><label>&{'projectTaskEditionTableDueDate'}: </label></td>
					<td><input type="text" size="11" class="inputDate"/></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
</div>