<div id="projectBasicDetails">

	<table>
		<tbody>
			<tr>
				<td><label>&{'viewProjectGoal'}: </label></td>
				<td>${_visitedProject?.pdata?.goal}</td>
			</tr>
			
			#{list items:_visitedProject.pdata.locations, as: 'oneLoc'}
				<tr>
					<td>
						#{if oneLoc_isFirst}
							<label>&{'viewProjectLocation'}: </label>
						#{/if}
					</td>
					<td>
						${oneLoc.location}
					</td>
				</tr>
			#{/list}
			
			
			<tr>
				<td><label>&{'viewProjectCommunicationIn'}: </label></td>
				<td class="languageCell"><span class="hidden">${_visitedProject.pdata.language}</span><span class="langugeLabel"> </span></td>
			</tr>
			
			<tr>
				<td><label>&{'viewProjectCreatedOn'}: </label></td>
				<td>${_visitedProject.pdata.creationDate.format(controllers.BeanProvider.config.dateDisplayFormat)} </td>
			</tr>
			
			<tr>
				<td><label>&{'viewProjectDueDate'}: </label></td>
				<td>
					#{if _visitedProject.pdata.dueDate != null}
						${_visitedProject.pdata.dueDate.format(controllers.BeanProvider.config.dateDisplayFormat)} 
						#{/if}
				</td>
			</tr>
			
			<tr>
				<td><label>&{'viewProjectInitiator'}: </label></td>
				<td>
				
					#{if _visitedProject.initiator.user.isProfileActive() }
						<a href="@{profile.ProfileView.profileView( _visitedProject.initiator.user.userName )}" class="dabLink">${_visitedProject.initiator.user.userName}</a>
					#{/if}
					
					#{if !_visitedProject.initiator.user.isProfileActive() }
						<span class="dabLinkDisabled">${_visitedProject.initiator.user.userName}</span>
					#{/if}
					
				 </td>
			</tr>
			
			<tr>
				<td>&nbsp;</td>
				<td></td>
			</tr>
			
			<tr>
				<td></td>
				<td>
					<span id="applyToProjectLink" class="dabLink hidden">&{'viewProjectApply'}</span>
					<span id="cancelApplicationToProjectText" class="hidden">&{'viewProjectYouHaveAlreadyApplied'}</span> <span id="cancelApplicationToProjectLink" class="dabLink hidden">&{'viewProjectCancelApplicationLink'}</span>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
