<dl class="descriptionList">

#{if _projectVisibility.isDescriptionVisible() }
	<dt>
		&{'viewProjectProject'}:
	</dt>
	<dd>
		<pre>${_visitedProject.pdata.description}</pre>
	</dd>
#{/if}

#{if _projectVisibility.isReasonVisible() }
<dt>
	&{'viewProjectReason'}:
</dt>
<dd>
	<pre>${_visitedProject.pdata.reason}</pre>
</dd>
#{/if}

#{if _projectVisibility.isStrategyVisible() }
	<dt>
		&{'viewProjectStrategy'}:
	</dt>
	<dd>
		<pre>${_visitedProject.pdata.strategy}</pre>
	</dd>
#{/if}

#{if _projectVisibility.isOfferVisible() }
	<dt>
		&{'viewProjectRewards'}:
	</dt>
	<dd>
		<pre>${_visitedProject.pdata.offer}</pre>
	</dd>
#{/if}

#{if _projectVisibility.isLinksVisible() }
<dt>
	&{'viewProjectLinks'}:
</dt>
<dd>
	#{list items:_visitedProject.links, as: 'oneLink'}
		<ul>
			<li><a href="${oneLink}" class="dabLink">${oneLink}</a>
			</li>
		</ul>
	#{/list}
</dd>
#{/if}
