<div>
	<div id="projectParticipants">
		<span id="numberOfParticipantSpan" class="toggleLink">&{'viewProjectParticipants'} (${_numberOfConfirmedParticipants}) </span>
		<div class="toggleContainer">
			#{list items:_confirmedParticipants, as:'participant'}
				#{projects.participant participant:participant, projectVisibility:_projectVisibility /} 
			#{/list}
		</div>
	</div>
	
	#{if _projectVisibility.isVisibleApplicationBox()}
	<div id="projectApplications">
		<span id="numberOfApplicantsSpan" class="toggleLink">&{'viewProjectApplications'} (${_numberOfApplications}) </span>
		<div class="toggleContainer">
			#{list items:_unconfirmedActiveParticipants, as:'application'}
				#{projects.application application:application, projectVisibility:_projectVisibility /} 
			#{/list}
		</div>
	</div>
	#{/if}
	
	<div id="projectGroupParticipations">
		<span  class="toggleLink">&{'viewProjectGroups'} (${_numberOfGroups}) </span>
		<div class="toggleContainer">
			#{list items:_groups, as:'group'}
				#{groups.groupSummary groupSummary:group, projectVisibility:_projectVisibility /} 
			#{/list}
		</div>
	</div>
	
</div>
