#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}

<style>
	.ui-autocomplete {
		max-height: 175px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
					 * we use height instead, but this forces the menu two always be this tall
					 */
	* html .ui-autocomplete {
		height: 175px;
	}
</style>

    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/homepage.css'}" />
#{/set}


#{set 'moreScripts'}

    <script src="@{'/public/javascripts/dabGeocoder.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/profile/profileEdit.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
		$(document).ready(function() {
			init(
					"&{'warningUnsavedChangesText'}");
		});
	</script>
#{/set}



<!-- some hidden data, for javascript -->
<span id="allPossibleLanguageNames" class="hidden">${allPossibleLanguageNames}</span>
<span id="allPossibleLevelNames"    class="hidden">["&{'low'}", "&{'average'}", "&{'good'}"]</span>
<span id="initSelectGender"         class="hidden">${editedProfile == null ? flash['editedProfile.gender'] : editedProfile.gender}</span>



<div id="personalContainer" class="pageContainer">

	<div id="editProfileContainer">
	
		#{form @profile.ProfileEdit.doEdit() }
		
			<table>
	
				<tr>
					<td class="formlabel"><label>&{'username'}: </label></td>
					<td>${userSession.loggedInUserProfileId}</td>
				</tr>
	
				<tr>
					<td class="formlabel"><label >&{'profileFirstName'}*: </label></td>
					<td><input type="text" id="firstName" name="editedProfile.firstName" value="${editedProfile == null ? flash['editedProfile.firstName'] : editedProfile.firstName}" size="35"/></td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.firstName' /}</div></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label >&{'profileLastName'}*: </label></td>
					<td><input type="text" id="lastName" name="editedProfile.lastName" value="${editedProfile == null ? flash['editedProfile.lastName'] : editedProfile.lastName}" size="35"/></td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.firstName' /}</div></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'profileDateOfBirth'}*: </label></td>
					<td><input type="text" id="dateOfBirth" name="editedProfile.dateOfBirthStr" value="${editedProfile == null ? flash['editedProfile.dateOfBirthStr'] : editedProfile.dateOfBirthStr}" size="11"/></td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.dateOfBirthStr' /}</div></td>
				</tr>
				
				<tr>
					<td class="formlabel"><label>&{'profileCity'}*: </label></td>
					<td><input type="text" id="location" name="editedProfile.location" value="${editedProfile == null ? flash['editedProfile.location'] : editedProfile.location}" size="55"/></td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.location' /}</div></td>
				</tr>
				<tr>
					<td ></td>
					<td><div id="city_map_canvas"></div></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'profileLanguages'}*: </label></td>
					<td>
					
						<div>
							<ul id="languageGroup"></ul>
							<ul>
								<li>
									<input id="addLanguageInput" class="languageAutoComplete" size="15"> </input>
									<span id="addLanguageSecondButton" class="dabLink rightspaced" >&{'add'}</span>
									<span id="cancelAddLanguageButton" class="cancelAddLanguageButton" >&{'CancelButton'}</span>
								</li>
								<li>
									<span id="addALanguageLink" class="dabLink" >&{'addALanguage'}...</span>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr class="errorRow">
					<td ></td>
					<td><div class="errorMessage">#{error 'editedProfile.languagesJson' /}</div></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'profilePersonalObjectives'}: </label></td>
					<td><textarea rows="4" cols="55" id="personalObjective" name="editedProfile.personalObjective" >${editedProfile == null ? flash['editedProfile.personalObjective'] : editedProfile.personalObjective}</textarea></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'profilePersonalDescription'}: </label></td>
					<td><textarea rows="4" cols="55" id="personalDescription" name="editedProfile.personalDescription"  >${editedProfile == null ? flash['editedProfile.personalDescription'] : editedProfile.personalDescription}</textarea></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'profilePersonalPhilosophy'}: </label></td>
					<td><textarea rows="4" cols="55" id="personalPhilosophy" name="editedProfile.personalPhilosophy" >${editedProfile == null ? flash['editedProfile.personalPhilosophy'] : editedProfile.personalPhilosophy}</textarea></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'profilePersonalAssets'}: </label></td>
					<td><textarea rows="4" cols="55" id="personalAssets" name="editedProfile.personalAssets"   >${editedProfile == null ? flash['editedProfile.personalAssets'] : editedProfile.personalAssets}</textarea></td>
				</tr>
				
				<tr>
					<td class="formlabel"><label>&{'profileEmail'}*: </label></td>
					<td>
						<input type="text" id="dateOfBirth" name="editedProfile.email" value="${editedProfile == null ? flash['editedProfile.email'] : editedProfile.email}" size="35"/>
						<span class="formFieldExplanation">&{'profileEmailMessage'}</span>
					
					</td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.email' /}</div></td>
				</tr>
				
				<tr>
					<td class="formlabel"><label>&{'profileGender'}: </label></td>
					<td>
						<input id="genderRadioMale" type="radio" name="editedProfile.gender" value="M" ><span class="genderRadio">&{'profileMale'}</span></input>
						<input id="genderRadioFemale" type="radio" name="editedProfile.gender" value="F" ><span class="genderRadio" >&{'profileFemale'}</span></input>
						<input id="genderRadioUnspecified" type="radio" name="editedProfile.gender" value="U" ><span class="genderRadio">&{'profileGenderUnspecified'}</span></input>
					</td>
					
				</tr>
				
				<tr>
					<td class="formlabel"><label>&{'profileWebSite'}: </label></td>
					<td><input type="text" id="website" name="editedProfile.website" value="${editedProfile == null ? flash['editedProfile.website'] : editedProfile.website}" size="55"/></td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.website' /}</div></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'password'}*: </label></td>
					<td><input type="password" id="website" name="editedProfile.firstpassword" value="${editedProfile == null ? flash['editedProfile.firstpassword'] : editedProfile.firstpassword}" size="35"/></td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.firstpassword' /}</div></td>
				</tr>
	
				<tr>
					<td class="formlabel"><label>&{'passwordAgain'}*: </label></td>
					<td><input type="password" id="website" name="editedProfile.secondpassword" value="${editedProfile == null ? flash['editedProfile.secondpassword'] : editedProfile.secondpassword}" size="35"/></td>
				</tr>
				<tr class="errorRow">
					<td></td>
					<td><div class="errorMessage">#{error 'editedProfile.secondpassword' /}</div></td>
				</tr>
			
			</table>
		
			<!--  some submitted hidden data (no, I never heard about cookies...) -->
			<input type="hidden" id="locationLat" name="editedProfile.locationLat" value="${editedProfile == null ? flash['editedProfile.locationLat'] : editedProfile.locationLat}" />
			<input type="hidden" id="locationLong" name="editedProfile.locationLong" value="${editedProfile == null ? flash['editedProfile.locationLong'] : editedProfile.locationLong}" />
			<input type="hidden" id="languages" name="editedProfile.languagesJson" value="${editedProfile == null ? flash['editedProfile.languagesJson'] : editedProfile.languagesJson}" />
			
		#{/form}
		
		
		<div>
			<input id="editProfileButton" type="submit"  value=" &{'profileUdpateProfile'} " class="editProfileUpdateBottomButton"/>
			<input id="cancelProfileButton" type="submit"  value=" &{'profileCancelChanges'} " class="editProfileCancelBottomButton"/>
		</div>
	
	</div>
	

	<img id="trashImg" src="@{'/public/images/trash.png'}" style="display: none" class="deleteImageLink"></img>
	
	<div id="hiddenCancelForm">
		#{form @profile.ProfileEdit.cancelEdit()}
		#{/form}
	</div>
</div>