#{extends 'masterTemplate.html' /} 

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/projects/projectsView.css'}" />
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/nondab/colorbox/colorbox.css'}" />
#{/set} 

#{set 'moreScripts'}
	<script type="text/javascript"
		src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script src="@{'/public/javascripts/nondab/colorbox/jquery.colorbox.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/dabGeocoder.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/language.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script src="@{'/public/javascripts/projects/projectsView.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	
	<script type="text/javascript">
	
	    var applytoProject 				= #{jsAction @projects.ProjectsView.doApplyToProject(':projectId', ':applicationText') /};
	    var cancelApplicationToProject 	= #{jsAction @projects.ProjectsView.doCancelApplyToProject(':projectId') /};
	    var rejectApplicationToProject 	= #{jsAction @projects.ProjectsView.doRejectApplicationToProject(':projectId', ':applicant') /};
	    var leaveProject 				= #{jsAction @projects.ProjectsView.doLeaveProject(':projectId') /};
	    var acceptApplicationToProject 	= #{jsAction @projects.ProjectsView.doAcceptApplicationToProject(':projectId', ':applicant') /};
	    
	    var removeParticipantOfProject 	= #{jsAction @projects.ProjectsView.doRemoveParticipantOfProject(':projectId', ':participant') /};
	    var makeAdmin 					= #{jsAction @projects.ProjectsView.doMakeAdmin(':projectId', ':participant') /};
	    var makeMember 					= #{jsAction @projects.ProjectsView.doMakeMember(':projectId', ':participant') /};
	    var giveOwnership 				= #{jsAction @projects.ProjectsView.doGiveOwnership(':projectId', ':participant') /};
	    var cancelGiveOwnership 		= #{jsAction @projects.ProjectsView.doCancelGiveOwnership(':projectId', ':participant') /};
	    var refuseOwnership 			= #{jsAction @projects.ProjectsView.doRefuseOwnership(':projectId') /};
	    
	    var determineRemovedParticipantsAndApplications = #{jsAction @projects.ProjectsView.doDetermineRemovedParticipantsAndApplications(':projectId', ':knownParticipantUsernames', ':knownApplicationUsernames') /};
	    var determineAddedParticipantsAndApplications 	= #{jsAction @projects.ProjectsView.doDetermineAddedParticipantsAndApplications(':projectId', ':knownParticipantUsernames', ':knownApplicationUsernames') /};
	    var retrieveUpdatedParticipantContentData 		= #{jsAction @projects.ProjectsView.doRetrieveParticipantContentData(':projectId', ':participant') /};
	    
	    var isCancelProjectLinkEffective = ${projectVisibility.isCancelProjectLinkEffective()};
	    var isApplyLinkVisible = ${projectVisibility.isApplyLinkVisible()};
	    var isCancelApplicationLinkVisible = ${projectVisibility.isCancelApplicationLinkVisible()};
	    
	    var projectId = "${visitedProject.id}"; 
	    var proposedOwnerId = "${visitedProject.proposedInitiator?.user?.userName}"; 
	    
	    var confirmCancelProjectText 			= "&{'viewProjectConfirmCancelProject'}";
	    var cannotCancelProjectExplanationText 	= "&{'viewProjectCannotCancelProjectExplanation'}";
	    var confirmTerminateProjectText 		= "&{'viewProjectConfirmTerminateProject'}";
	    var confirmRestartProjectText 			= "&{'viewProjectConfirmRestartProject'}";
	    
	    var confirmCancelApplicationText 	= "&{'viewProjectConfirmCancelApplication'}";
	    var confirmRemoveParticipantText 	= "&{'viewProjectConfirmRemoveParticipant'}";
	    var confirmAcceptApplicationText 	= "&{'viewProjectConfirmAcceptApplication'}";
	    var confirmRejectApplicationText 	= "&{'viewProjectConfirmRejectApplication'}";
	    var confirmLeaveProjectText 		= "&{'viewProjectConfirmLeaveProject'}";
	    var confirmMakeAdminText 			= "&{'viewProjectconfirMMakeAdmin'}";
	    var confirmMakeMemberText 			= "&{'viewProjectconfirMMakeMember'}";
	    var confirmGiveOwnershipText 		= "&{'viewProjectCnfirmGiveOwnership'}";
	    var confirmCancelGiveOwnershipText 	= "&{'viewProjectConfirmCancelGiveOwnership'}";
	    var confirmAcceptOwnershipText 		= "&{'viewProjectConfirmAcceptOwnership'}";
	    var confirmRefuseOwnershipText 		= "&{'viewProjectconfirmRefuseOwnership'}";
	
		$(document).ready(function() {
			init();
		})
	</script>
#{/set}


<!-- some hidden data, for javascript -->
<span id="allPossibleLanguageNames" class="hidden">${allPossibleLanguageNames}</span>

<div id="projectViewContainer" class="pageContainer">

	<p class="pageTitle">${visitedProject?.pdata?.name}</p>


	<div id="projectPhotoContainer">
		#{photoGallery
			mainPhoto:visitedProject.mainPhoto , 
			galleryType:'project',
			photos:visitedProject.photos,
			isPhotoGalleryVisible:projectVisibility.isPhotoGalleryVisible(),
			isProjectEditLinkVisible:projectVisibility.isEditPhotoGalleryLinkVisible(),
			visitedProjectId:visitedProject.id
		 /}
	</div>

	#{projects.viewProjectBasicDetails visitedProject:visitedProject, projectVisibility:projectVisibility/} 
	
	#{if projectVisibility.isToolBoxVisible() }
		<div id="projectToolBox">
			<ul>
				<li>
					#{if projectVisibility.isEditProjectLinkVisisble() } 
						<a href="@{projects.ProjectsEdit.projectsEdit( visitedProject.id)}" class="dabLink">&{'projectViewEditProjet'}</a> 
					#{/if}
				</li>
	
				<li>
					#{if projectVisibility.isCancelProjectLinkVisisble() } 
						<span id="cancelProjectLink" class="dabLink" >&{'projectViewCancelProjet'}</span> 
					#{/if}
				</li>
	
				<li>#{if projectVisibility.isEndProjectLinkVisisble() } 
						<span id="terminateProjectLink" class="dabLink">&{'projectViewEndProjet'}</span> 
					#{/if}
				</li>
				<li>#{if projectVisibility.isUndoEndProjectLinkVisisble() } 
						<span id="undoTerminateProjectLink" class="dabLink">&{'projectViewUndoEndProjet'}</span> 
					#{/if}
				</li>
			</ul>
		</div>
	#{/if}


	<div id="projectBody">
		#{projects.viewProjectDescription visitedProject:visitedProject, projectVisibility:projectVisibility/}

		#{projects.viewProjectParticipantsAndApplications 	confirmedParticipants:visitedProject.confirmedParticipants, 
															unconfirmedActiveParticipants:visitedProject.unconfirmedActiveParticipants,
															numberOfConfirmedParticipants:visitedProject.numberOfConfirmedParticipants,
															numberOfApplications:visitedProject.numberOfApplications,
															projectVisibility:projectVisibility
												 			/}
												 			
												 			
		#{projects.viewProjectTasks taskList:visitedProject.tasks /}

		#{projects.viewProjectAssets assetList:visitedProject.assets /}
		
	</div>
</div>


<div id="confirmApplyToProjectDialog" title="&{'confirmationPopupTitle'}">
	&{'viewProjectConfirmApply'}
	<br />
	<br />
	<textarea cols="45" rows="7"></textarea>
</div>

<div id="applicationMotivationPopup" title="&{'applicationMoticationTextPopupTitle'}">
	<textarea readonly="readonly" rows="7" cols="45" ></textarea>
</div>

<div id="hiddenAcceptOwnershipform" style="hidden">
	#{form @projects.ProjectsView.acceptOwnership()}
		<input type="hidden" name="projectId" id="projectId"/>
	#{/form}
</div>

<div id="hiddenCancelProjectform" style="hidden">
	#{form @projects.ProjectsView.cancelProject()}
		<input type="hidden" name="projectId" id="projectId"/>
	#{/form}
</div>

<div id="hiddenTerminateProjectform" style="hidden">
	#{form @projects.ProjectsView.terminateProject()}
		<input type="hidden" name="projectId" id="projectId"/>
	#{/form}
</div>

<div id="hiddenRestartProjectform" style="hidden">
	#{form @projects.ProjectsView.restartProject()}
		<input type="hidden" name="projectId" id="projectId"/>
	#{/form}
</div>
