#projectNewContainer {
	margin-left: 15%;
	margin-top: 30px;
}

#projectNewContainer td {
	vertical-align: top;
	padding: 10px 10px 0 10px;
}

#editProjectTable {
}


/* usualy the table overwrite the td padding value => we have to re-specify it for each table*/
#editProjectTable .errorRow td{
	padding: 0px 0 0 10px;
}

#project_map_canvas {
	width: 380px;
	height: 250px;
	margin-top: -15px ;
}
