#projectCategorieListOfDropboxes div {
	/*padding-right: 30px;*/
	float: left;
}

#projectTagContainer {
	border:solid 1px #333;
	margin-left: 500px;
	width: 380px;
	/*clear: left;*/
	padding: 30px;
	text-align:center;	
}


#projectSearchContainer {
	margin-left: 30px;
	margin-top: 90px;/*75*/
	margin-bottom: 40px;
}

#projectSearchContainer td {
	vertical-align:baseline;
	margin: 10px 10px 0 20px;
}

#tagCloudExplanation {
	margin-top: 50px;
	margin-left: 400px;
	margin-bottom: 25px;
	
}
.addThemeLine{
	padding-top:15px;
}

