#projectPhotoContainer {
	width: 300px;
	float: left;
	margin-left: 3%;
	text-align: center;
}

#projectToolBox{
	border: thin solid;
	padding: 20px 20px 20px 20px;
	float: left;
	margin-left: 40px;
	
}

#projectBasicDetails {
	width: 30%;
	float: left;
	margin-left: 50px;
}

#projectBasicDetails label {
    font-weight: bold;
    margin-right: 10px;
}

#projectBody {
	clear: both;
	max-width: 70%;
	padding: 30px;
}

#projectBody dt {
    font-weight: bold;
    margin-top: 5px;
}

#projectParticipants {
	margin-top: 30px;	
}

#projectTaskListTable  {
	border-spacing: 0px;
	border-collapse: collapse;
	border: solid 1px;
	width: 100%;	
}


#projectTaskListTable thead {
	background-color: #DFDFDF;		
}

#projectTaskListTable thead tr:hover{
	background-color: #DFDFDF;		
}

#projectTaskListTable tr:hover {
	background-color: #EFEFEF;
}

/* *****************************
* project forum
******************************* */

#projectForumTopButton {
	float: right;
	margin: 10px;
}

.threadContainer {
	clear: right;
}


.forumThread {
	padding: 10px;
	border: 1px solid;
}

.forumThread.private {
	background-color: yellow;
}

.forumThread .numberOfPosts{
	float: right;
}

.threadEditLinks {
	text-align: right;	
}

