

#projectCategorieListOfDropboxes div {
	padding-right: 20px;
	float: left;
}

#projectTagContainer {
	margin-left: 500px;
	width: 400px;
	clear: left;
	padding: 30px;	
}


#projectSearchContainer {
	margin-left: 300px;
	margin-top: 75px;
	margin-bottom: 100px;
}

#projectSearchContainer td {
	vertical-align: top;
	padding: 10px 10px 0 10px;
}

#tagCloudExplanation {
	margin-top: 50px;
	margin-left: 400px;
	margin-bottom: 25px;
	
}

