
.groupsEditionContainer {
	margin-left: 15%;
	margin-top: 30px;	
}

.groupsEditionContainer td {
	vertical-align: top;
	padding: 10px 10px 0 10px;
}


.buttonBox {
	margin-top: 30px;
}

#startGroupButton {
	margin-left: 175px;
}

#editGroupButton {
	margin-left: 60px;
}

#cancelEditGroupButton {
	margin-left: 20px;
}