#groupPhotoContainer {
	width: 300px;
	float: left;
	margin-left: 3%;
	text-align: center;
}


#groupBasicDetails {
	width: 30%;
	float: left;
	margin-left: 50px;
}

#groupBasicDetails label {
	font-weight: bold;
	margin-right: 10px;
}

#groupBasicDetails td {
	vertical-align: top;
}

#groupProjects {
	clear: left;
	margin-left: 200px;
	padding-top: 50px;
}

#groupParticipants {
	margin-left: 200px;
	margin-top: 30px;
}

#groupForum {
	margin-left: 200px;
	margin-top: 30px;
}

.confirmedParticipant {
	padding: 20px;
	height: 60px;
}

