/*
GENERAL
*/

body{
	margin:0;
	padding:0;
	background-color:#f5f5f5;
	/*background-color:#e3e3e3;*/
	font-family:"Verdana",sans-serif;
	color:#666;
	font-size:13px;
}
h1, h2, h3, h4, h5, h6{
	font-family:"Georgia",serif;
	font-style:italic;
	color:#666;
}
label,input,select,textarea{
	font-family:"Verdana",sans-serif;font-size:13px;font-weight:normal;line-height:normal;
}
#donateButton{
	font-family:"Georgia", serif;
	font-style:italic;
	font-weight:bold;
}

input{
	font-weight:bold;
	font-size:2em;}



a{
	color:#333;
	text-decoration:underline;
}
a:hover{
	color:#666;
	text-decoration:none;
}

/* removes the border around the clickable images */
a img {
	border: 0px;
}


ul {
	list-style-type: none;
}

.centerParagraph {
	text-align: center;
}

.rightspaced {
	margin: 0px 15px 0px 0px;
}

.formlabel {
	padding-top:8px;
	padding-right:20px;
	text-align:left;
	font-weight: bold;
}

.formlabel label {
	font-weight: bold;
}

.noclass {
	
}

.hidden {
	display: none;
}


.formLeftColumn {
	text-align: left;
	width: 155px;
}

.formMidleColumn {
	width: 400px;
}

.formRightColumn {
	width: 350px;
}

.errorMessage {
    color: red;
    font-size: 13px;
    margin-bottom:10px;
}

.errorMessageLink {
    margin-left: 10px;	
}


.dabLink {
	text-decoration: underline;
	cursor: pointer;
	color:#333;
	font-weight: normal;
	font-size: 13px;
}
.dabLink:hover {
	text-decoration:none;
	cursor: pointer;
	color:#666;
	font-weight: normal;
	font-size: 13px;
}

.dabLinkLSpaced {
	text-decoration: underline;
	cursor: pointer;
	color:#333;
	font-weight: normal;
	margin-left: 10px;
}

.dabLinkRSpaced {
	text-decoration: underline;
	cursor: pointer;
	color:#333;
	font-weight: normal;
	margin-right: 10px;
}

.dabLinkSpaced {
	text-decoration: underline;
	cursor: pointer;
	color:#333;
	font-weight: normal;
	margin-right: 10px;
	margin-left: 10px;
}

.dabLinkNotification {
	text-decoration: underline;
	cursor: pointer;
	color: grey;
	font-weight: normal;
}

.dabLinkLSpacedDisabled {
	text-decoration: underline;
	font-weight: normal;
	color: #555555;
	cursor: default;
	margin-left: 10px;
}

.dabLinkDisabled {
	text-decoration: underline;
	font-weight: normal;
	color: #666;
	cursor: default;
}


.toggleContainer {
    border: medium none;
    margin: 20px 0 30px 0;
    padding: 0 0 20px 0;
    width: 85%;
}

.toggleLink {
	text-decoration: underline;
	cursor: pointer;
	color:#333;
	font-weight:bold;
	font-size: 13px;
}

.toggleLink:hover {
	text-decoration:none;
	cursor: pointer;
	color:#666;
	font-weight: normal;
	font-size: 13px;
}


.iconLink {
	vertical-align: middle;
	width: 24px;
	cursor: pointer;
}

.iconLinkInactive {
	vertical-align: middle;
	width: 24px;
}

.deleteImageLink {
	vertical-align: middle;
	width: 24px;
	cursor: pointer;
}

.deleteImageLinkLSpaced {
	margin-left: 10px;
	vertical-align: middle;
	width: 24px;
	cursor: pointer;
}

.deleteImageLinkInactive {
	margin-left: 10px;
	vertical-align: middle;
	width: 24px;
}


.formFieldExplanation {
	font-size: 12px;
	/*float: left;*/
}




/*TOOL BAR*/
#toolBar{
	width:100%;
	background-color:#333;
	height:40px;
}
#toolBarFirstPart{
	padding:10px 0 0 20px;
	float:left;
}

#toolBarSecondPart{
	float:right;
}
#sloganToolBar{
	padding-left:50px;
	color:#fff;
}
#toolBarFirstPart a{
	color:#ffeb00;
	text-decoration:none;
	font-family:"Georgia", serif;
	font-style:italic;
	font-weight:bold;
}
#toolBarSecondPart a{
	color:#ffeb00;
	text-decoration:none;
	font-family:"Verdana", sans-serif;
}
#toolBarAccountControls{
	float:left;
	padding:10px 20px 0 0;
}

#topLinks {
	float: right;
	margin-right: 25px;
}

#topLinks  p {
	text-align: right;
	margin: 0.5em;
}

#topLinks select {
	font-size: 15px;
	float: right;
	margin: 0;
}

#selectOneLanguageDropdown{
	width:110px;
}



#userLogoutLink {
	float: right;
	margin: 0;
}


#topDropDownMenu {
	margin:0;
	padding:10px 0 0 90px;
	z-index:999;
}








/*FOOTER*/
#footer{
	font-size:13px;
	clear:both;
	margin-top:150px;
	margin-left: auto;
	margin-right: auto;
	width: 420px;
	padding-bottom:40px;
	text-align:center;
}

#footer li{
	list-style-type:none;
	float:left;
	padding-right:20px;
}
.bottomLinks {
	text-decoration: underline;
	font-weight: normal;
	margin: 15px;
}

/* bottom links, present in all pages */
#bottomLinksContainer {
	/*border-top:dotted 1px #333;*/
	font-size:13px;
	clear:both;
	padding-top:20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;/*420px*/
	margin-bottom:50px;
	text-align:center;
}

#bottomLinksContainer a {
	margin-left: 5px;
	margin-right: 5px;
}





/************************************************

************************************************/


.pageContainer {
	margin-top:70px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.oneLinerThumb {
	float: left;
	/*border: 1px solid #333;*/
	padding: 0 30px 0 0;
	max-height: 80px;
	max-width: 80px;
}

.oneLinerThumbContainer {
	float: left;
	width: 80px;
	height: 80px;
	margin-right:30px;
}

	
.oneUserSummary {
	margin-bottom:30px;
	height: 80px;
}

.oneProjectParticipationLine{
	padding: 20px;
	height: 60px;
}

.oneGroupParticipationLine{
	padding: 20px;
	height: 60px;
}



.mainPhoto {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}


#aboutUsContainer {
	width: 500px;
}

.descriptionList dd dt {
	margin-top: 5px 0 0 0;
}

.descriptionList dd pre {
	margin-bottom: 2em;
	font-family:Verdana, sans-serif;
}

.descriptionList dd li {
	/*margin-left: 15px;*/
}



.oneProjectOverviewLine{
	border: 1px solid;
	width: 600px;
	margin: 10px;
	padding: 10px;
}

.oneProjectOverviewLine td {
	padding: 5px 10px;
}

.profileContactThumb {
	float: left;
	border: none;
	max-height: 80px;
	max-width: 80px;
	padding: 0 10px 0 0;
}
/*Tabs container*/
#projectSearchAdvanced{
	clear:left;
	padding-top:20px;
}
#projectSearch_modeSimple p{
	/*padding-left:20px;*/
}
div.tabs{
	margin:0;
	padding:0;
	border:solid 1px #333;
	clear:both;
	height:240px;	
}
div.tabs p{
	padding-left:20px;
}
.tabNavigation{
	/*padding-left:20px;*/
}
ul.tabNavigation{
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}
.tabNavigationCheckbox{
	/*padding-left:20px;*/
}
ul.tabNavigation li:hover{ 
	background-color: #ffeb00;
}
ul.tabNavigation li{
	float:left;
	padding:5px 20px;
	/*border-top: 1px solid #333;*/
	border-bottom: 1px solid #333; 
	border-right: 1px solid #333;
}
ul.tabNavigation li:last-child{
	border-right:none;	
}
ul.tabNavigation li a{
	text-decoration:none;

}
ul.tabNavigation li a:hover{
	color:#333;
}
.fs15{
	font-size:1.5em;
}



.box {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.boxTitle {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .5em;
}

.boxText {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: .5em;
	margin-bottom: .5em;
}


/*HOMEPAGE*/
#homepageFirstColumn{
	float:left;
	padding-right:40px;
}
#homepageSecondColumn{
	width:750px;
	padding-top:20px;
}
#homePageTitleContainer {
	margin-top:110px;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}
#homePageTitle1 {
	font-family:"Georgia",serif;
	font-size:3em;
	font-style:italic;
	line-height:1.25em;
	/*font-weight:bold;*/
	color:#333;
}
#homePageTitle2 {
	font-family:"Verdana",sans-serif;
	font-style:italic;
	font-size:1.75em;
	line-height:1.5em;
	color:#333;
}

.pageTitle {
	margin-left: 30px;
	font-size: 38px;
}


.findProjectButton a{
	font-family:"Georgia",serif;
	font-style:italic;
	font-weight:bold;
	font-size:1em;
	color:#333;	
}

#homepageMainLogo {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	/*margin-top: 2%;*/
}


#loginMenu {
	float: right;
	margin-right: 25px;	
}

#homePageExplanationContainer {
	/*margin-top: 2%;*/
}

.homePageExplanation {
	margin-top:40px;
}
.homePageExplain1{
	font-style:normal;
	font-weight:normal;
	font-size:2em;
	color:#333;
}
.homePageExplain2{
	font-size:1.5em;
}
.projectContainerExample{
	width:220px;
	padding:0 20px 0 0:
	height:260px;
	float:left;
}

.homePageExplanation#lien {
	font-size: 24px;
}

/*About us*/
.logoAM{
	float:left;
	width:182px;
	height:322px;
	margin-left:200px;
	background-image:url(../images/am_logo_new.png);
	background-repeat:no-repeat;
	}
.generalInfoTexts{
	margin-top:50px;
	margin-left: 40%;
	margin-right: 60%;
	width: 580px;
	
}
.generalInfoTexts p, .generalInfoTexts ul{
	color:#666;
	font-size:1.2em;
	line-height:1.5em;
}
.generalInfoTexts h1, .generalInfoTexts h2, .generalInfoTexts h3, .generalInfoTexts h4, .generalInfoTexts h5, .generalInfoTexts li{
	padding-top:20px;
}
.generalInfoTexts ul{
	list-style-type:square;
}
/*New project - Home*/
#projectNewContainer{
	margin-top:80px;
	margin-left: 30px;
	margin-right: 30px;
	width: auto;	
}



/*Profil Homepage ////////////////////////////////////////////////////////// */
#personalContainer{
	margin-top:50px;
	margin-left: 30px;
	margin-right: 30px;
	width: auto;
	padding:30px 0 0 0;
}
#userProfilePhotoContainer{
	text-align:left;
	float:left;
	padding:20px 40px 0 0;
}
#userProfileBasicDetails {
	width: 30%;
	margin-left: 50px;
	padding:20px 0 0 0;
	text-align:left;
	border:none;
}
#userProfileBasicDetails td{
	padding:10px 0;
	line-height:1.2em;
	vertical-align:baseline;
}
#userProfilePersonalStuff {
	clear: both;
	max-width: 70%;
	padding: 30px;
}
/* basic mechanics for the whole profile page (with the 4 tabs) */


/**************************
home page
****************************/
.notificationContainer {
	margin-top: 100px;
}

.homeToggleBlock {
	margin: 20px 0px 20px 0px;
}

/* ********
 style for the view profile tab
*/

#viewProfileCvLink img.dabLink {
	text-decoration: none;
}

#userProfileBasicDetails {
	width: 30%;
	float: left;
	margin-left: 50px;
}


#userProfileBasicDetails label {
	font-weight: bold;
	margin-right: 30px;
}

#userProfilePersonalStuff {
	clear: both;
	max-width: 70%;
	padding:10px 30px 30px 30px;
}

#userProfilePersonalStuff dt {
	font-weight:bold;
	margin-top: 5px;
}

/**/
.profileViewTogglableSection {
	margin-bottom: 15px;
}

.profileViewTogglableSection span.dabLink{
	font-weight:bold;
}

#profileReceivedReference {
	 margin-top: 20px;
}

#profileWrittenReferences {
	
}


.profileReference {
/*	border: 1px solid #ccc; */
	padding: 20px;
	margin: 20px 0;
}

.referenceFromFor {
	font-weight: bold;
}


.profileContact {
/*	border: 1px solid #ccc; */
	padding: 20px;
	margin: 20px 0;
	height: 80px;
}


.profileContactLink {
/*	margin-top: 30px; */
}

.profileContactThumb {
	float: left;
	border: none;
	height: 80px;
	padding: 0 10px 0 0;
}

.profilePendingInvitations {
	font-style: italic;
	font-weight: bold;
	margin-left: 10px;
}

#profileLeaveAReference {
	margin-bottom: 10px;
}

/* ********
 style for the edit profile tab
*/
#editProfileContainer {
	margin:0;
}

#editProfileContainer td {
	vertical-align: top;
	padding: 30px 0 0 10px;
}


/* usualy the table overwrite the td padding value => we have to re-specify it for each table*/
#editProfileContainer .errorRow td{
	padding: 0px 0 0 10px;
}


.editProfileUpdateBottomButton {
	 margin-left:10px;
}

.editProfileCancelBottomButton {
	margin: 30px 10px 10px 15px;
}

#city_map_canvas {
	width: 365px;
	height: 250px;
	margin-top: -15px ;
}

.latLongData {
	font-size: 0.7em;
	float: right;
	text-align: right;
	background: none repeat scroll 0 0 white;
	border: thin none;
	margin: 0 5px;
}

.languageLabel {
	float: left;
	width: 100px;
}

.languageAutoComplete {
	margin: 10px 10px 15px 0;
}

.cancelAddLanguageButton {
	text-decoration: underline;
	cursor: pointer;
	color: #333;
	font-weight: normal;
	margin-left: 15px;
}
.editProfilLanguages{
	margin-top:14px;
}

/* ********
 style for the edit profile tab
*/

.genderRadio {
	margin: 10px;
}


#profileMPThumbContainer {
	margin-top:70px;
	margin-left: 30px;
}
	
.profileMPThumbContainer {
	margin-left: 300px;
	margin-right: auto;
	margin-top: 30px;
	width: 860px;
	float: left;
}

.profileMPThumbContainer img {
	float: left;
	max-height: 225px;
	max-width: 225px;
	margin: 5px 5px 15px 22px;
	cursor: pointer;
}

.profileMPThumbContainer img.profileEmptyImage {
	width: 225px;
	height: 225px;
}

.profileMPThumbContainer img.mainPhoto {
	max-height: 100px;
	max-width: 100px;
}

.profileMPThumbContainer img.yoohoo {
	border: 2px solid #ffeb00;
	margin:3px 3px 15px 22px;
}

#profileMPCentralPhotoContainer {
	clear: left;
	margin-left:30px;
	margin-top: 284px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	width: 300px;
	position:fixed;
}

#profileMPCentralPhoto {
	width: 100%;
	margin-top: -80px;
	margin-bottom: 20px;
}

#profileMPToolboxFiller {
	clear: left;
	float: left;
	height: 10px;
	width: 50%;
}

#profileMPToolbox {
	background-color:#F5F5F5;
	position:fixed;
	width:300px;
	clear:both;
	margin-left: 30px;
	margin-top: 194px;
}

#profileMPToolbox ul li {
	list-style: none outside none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 6px;
}

#profileMPToolbox ul li span {
	margin-left: 8px;
	margin-right:30px;
}

#pleaseWaitDialog img.progress {
	margin-left: 30px;
	margin-top: 10px;
	text-align: center;
}

#photoActions {
	background-color:#F5F5F5;
	width:300px;
	clear:both;
	margin-left:10px;
	margin-top:20px;
}

#photoActions ul li {
	list-style: none;
	margin-bottom: 10px;
}

#photoActions ul li span,#photoActions ul li a.dabLink {
	margin-left: 10px;
}
/*****/
#profilePhotoMpcaptionDiv {
	text-align:left;
}
#profilePhotoMpcaptionDiv span{
	margin-left:8px;
}

/* ********
 style for the manage cv screen
*/
#cvConfirmUpload {
	margin-left: 10px;
}

#cvFileName {
	font-style: italic;
	padding-left: 50px;
}
/*PROFILE'S PAGE END*/


/*MESSAGES STYLES*/
.messagesMainContainer {
	float: right;
    margin-left: 200px;
    margin-top: 30px;
    width: 98%; 
}

.messagesListTable {
	border: 1px solid #ccc;
	margin-left: 10px;
	width: 98%;
	border-spacing: 0;
}

.messagesListTableHeader {
	background-color: #ccc;
	font-weight: bold;
}

.messagesListTableHeaderSmall {
	font-weight: normal;
}

.messageDetailTable {
	border: 1px solid #ccc;
	margin-left: 10px;
	width: 98%;
	border-spacing: 0;
	margin-top: 30px;
	margin-bottom: 50px;
}

 
.messagesInboxDetailContainer {
	min-height: 200px;
	width: 99.5%;
	border: 0 none;
}


.profileMessagesInboxBottomRight {
	text-align: right;
}


.messagesReactionLinkEnabled {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: underline;
	cursor: pointer;
	color: blue;
	font-weight: normal;
}

.messagesReactionLinkDisabled {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: normal;
	text-decoration: underline;
}

.profileMessagesInboxBottomRight {
	text-align: right;
}



#messagesNewFormHeader {
	background-color: #ccc;
	width: 98%;
}
#messagesNewFormHeader td {
	background-color: #ccc;
	padding:5px;
}				
.messagesNewTextArea {
	width: 97.2%;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
}

.messagesNewError {
	width: 500px;
	margin: auto;
}

.inboxRow {
	cursor: pointer;	
}

.inboxRowUnread {
	cursor: pointer;
	font-weight: bold;	
}


.inboxRowTr {
	cursor: pointer;	
}

.inboxRowTr:hover {
	background-color: #EFEFEF;
}


.inboxOutboxDeleteCheckbox {
	text-align: center;
	width: 30px;
}
/*MESSAGES STYLES END*/

/**/
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}
/**/


/************************************************
popup dans la page "write new message", pour afficher la liste des contacts parmis lesquels choisir un destinataire
************************************************/
.oneContactPopupLine {
	clear: left;
	padding: 10px;
	height: 80px;
}

.oneContactPopupLine:hover {
	background-color: #FFFFFF;
}

