/* ********
 style for the messages profile tab
*/
.messagesMainContainer {
	float: right;
    margin-left: 200px;
    margin-top: 10px;
    width: 85%; 
}

.messagesListTable {
	border: 1px solid;
	margin-left: 10px;
	width: 97%;
	border-spacing: 0;
}

.messagesListTableHeader {
	background-color: #DFDFDF;
	font-weight: bold;
}

.messagesListTableHeaderSmall {
	font-weight: normal;
}

.messageDetailTable {
	border: 1px solid;
	margin-left: 10px;
	width: 97%;
	border-spacing: 0;
	margin-top: 30px;
	margin-bottom: 20px;
}

 
.messagesInboxDetailContainer {
	min-height: 200px;
	width: 99.9%;
	border: 0 none;
}


.profileMessagesInboxBottomRight {
	text-align: right;
}


.messagesReactionLinkEnabled {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: underline;
	cursor: pointer;
	color: blue;
	font-weight: normal;
}

.messagesReactionLinkDisabled {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: normal;
	text-decoration: underline;
}

.profileMessagesInboxBottomRight {
	text-align: right;
}



#messagesNewFormHeader {
	background-color: #DFDFDF;
	width: 97%;
}

.messagesNewTextArea {
	width: 97%;
	border: 1px solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

.messagesNewError {
	width: 500px;
	margin: auto;
}

.inboxRow {
	cursor: pointer;	
}

.inboxRowUnread {
	cursor: pointer;
	font-weight: bold;	
}


.inboxRowTr {
	cursor: pointer;	
}

.inboxRowTr:hover {
	background-color: #EFEFEF;
}

.inboxOutboxDeleteCheckbox {
	text-align: center;
	width: 30px;
}

