/* basic mechanics for the whole profile page (with the 4 tabs) */
*/

#profileMenu {
	margin-top: -35px;
	margin-left: 200px;
	color: #000000;
	float: left;
	font: italic 1.3em Cambria, Times New Roman, serif;
}

#messagesMenu {
	margin-top: 0px;
	margin-left: 200px;
	color: #000000;
	float: left;
	font: italic 1.3em Cambria, Times New Roman, serif;
}

#messagesMenu li,#profileMenu li {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

#messagesMenu li a,#profileMenu li a {
	background: none repeat scroll 0 0 #BBBBBB;
	/*    display: block; */
	font-size: 0.7em;
	font-style: normal;
	font-weight: bold;
	margin: 1px;
	padding: 2px 6px 4px;
	text-align: left;
	text-decoration: none;
	width: 80px;
}

#messagesMenu li a:hover,#profileMenu li a:hover {
	background: none repeat scroll 0 0 #DADADA;
	width: 86px;
}

#messagesMenu li a.selected,#profileMenu li a.selected {
	background: none repeat scroll 0 0 #EFEFEF;
	color: #000000;
	cursor: default;
	width: 90px;
}


/**************************
home page
****************************/

.homeToggleBlock {
	margin: 20px 0px 20px 0px;
}



/* ********
 style for the view profile tab
*/


#userProfilePhotoContainer {
	width: 300px;
	float: left;
	margin-left: 3%;
	text-align: center;
}


#viewProfileCvLink img.dabLink {
	text-decoration: none;
}







/*Profil Homepage ////////////////////////////////////////////////////////// */
#personalContainer{
	margin-top:50px;
	margin-left: 30px;
	margin-right: 30px;
	width: auto;
	padding:30px 0 0 0;
}
#userProfilePhotoContainer{
	text-align:left;
	float:left;
	padding:20px 40px 0 0;
}
#userProfileBasicDetails {
	width: 30%;
	margin-left: 50px;
	padding:20px 0 0 0;
	text-align:left;
	border:none;
}
#userProfileBasicDetails td{
	padding:10px 0;
	line-height:1.2em;
	vertical-align:baseline;
}
#userProfilePersonalStuff {
	clear: both;
	max-width: 70%;
	padding: 30px;
}

#userProfilePersonalStuff dt {
	font-weight: bold;
	margin-top: 5px;
}

.profileViewTogglableSection {
	margin-bottom: 15px;
}

#profileReceivedReference {
	 margin-top: 20px;
}

#profileWrittenReferences {
	
}


.profileReference {
	border: 1px solid;
	padding: 20px;
	margin: 20px 0;
}

.referenceFromFor {
	font-weight: bold;
}


.profileContact {
	border: 1px solid;
	padding: 20px;
	margin: 20px 0;
	height: 80px;
}


.profileContactLink {
	margin-top: 30px;
}


.profilePendingInvitations {
	font-style: italic;
	font-weight: bold;
	margin-left: 10px;
}

#profileLeaveAReference {
	margin-bottom: 10px;
}

/* ********
 style for the edit profile tab
*/
#editProfileContainer {
	margin-top: 30px;
	margin-left: 15%;
}

#editProfileContainer td {
	vertical-align: top;
	padding: 10px 0 0 10px;
}

.editProfileUpdateBottomButton {
	 margin: 30px 10px 10px 120px;
}

.editProfileCancelBottomButton {
	margin: 30px 10px 10px 15px;
}

#city_map_canvas {
	width: 365px;
	height: 250px;
	margin-top: -15px ;
}


.latLongData {
	font-size: 0.7em;
	float: right;
	text-align: right;
	background: none repeat scroll 0 0 white;
	border: thin none;
	margin: 0 5px;
}

.languageLabel {
	float: left;
	width: 100px;
}

.languageAutoComplete {
	margin: 10px 10px 15px 0;
}

.cancelAddLanguageButton {
	text-decoration: underline;
	cursor: pointer;
	color: blue;
	font-weight: normal;
	margin-left: 15px;
}

/* ********
 style for the edit profile tab
*/

.genderRadio {
	margin: 10px;
}


/* ********
 style for the manage cv screen
*/
#cvConfirmUpload {
	margin-left: 10px;
}

#cvFileName {
	font-style: italic;
	padding-left: 50px;
}