
.searchResultContainer {
	margin-left: 300px;
	margin-top: 25px;
	margin-bottom: 100px;
}


#searchResultTitle {
	font-size: 30px;
	margin-right: 20px;
}

#projectResultFilterByDetails{
	margin: 5px 20px;
}

#projectResultRefineQueryContainer li{
	margin: 5px;
}

#projectResultSortByDetails {
	margin: 5px 20px;
}

#projectResultSortByDetails input{
	margin: 5px;
}

#projectResultUpdateResultButton {
	margin: 5px;
}