.searchPageContainer {
	margin-left: 30px;
	margin-top: 90px;/*75*/
	margin-bottom: 40px;
}

.searchPageContainer td {
	vertical-align: top;
	padding: 10px 10px 0 10px;
}

#categorieListOfDropboxes {
	height: 100px; 
}

#categorieListOfDropboxes div {
	padding-right: 20px;
	float: left;
}


#tagCloudContainer {
	border:solid 1px #333;
	margin-left: 500px;
	margin-top: 30px;
	width: 380px;
/*	clear: left; */
	padding: 30px;
	text-align:center;	
}


#tagCloudExplanation {
	margin-top: 50px;
	margin-left: 400px;
	margin-bottom: 25px;
}


