
.searchResultContainer {
	margin-left: 300px;
	margin-top: 25px;
	margin-bottom: 100px;
}


#searchResultTitle {
	font-size: 30px;
	margin-right: 20px;
}

.searchResultFilterByDetails{
	margin: 5px 20px;
}

.searchResultRefineQueryContainer li{
	margin: 5px;
}

.searchResultSortByDetails {
	margin: 5px 20px;
}

.searchResultSortByDetails input{
	margin: 5px;
}

.searchResultUpdateResultButton {
	margin: 5px;
}

