<div >

	<img class="mainPhoto" src="${_photoAlbum.getMainPhotoAddress()}" />

	<p class="centerParagraph ">
		#{if _isPhotoGalleryVisible}
			<a class="dabLink" href="${_photoAlbum.photos[0].normalPhotoAddress}" title="${_photoAlbum.photos[0].caption}" rel="profilePhotos">&{'profileMorePhotos'}</a>
			
			#{list items:_photoAlbum.photos, as:'onePhoto'}
				#{if !onePhoto_isFirst}
					<a href="${onePhoto.normalPhotoAddress}" rel="profilePhotos" style="display: none" title="${onePhoto.caption}">photo${onePhoto_index}</a>
				#{/if}
			#{/list}
		#{/if}
		
		#{if _isProjectEditLinkVisible}
			<br />
			<a href="@{projects.ProjectsEditPhotos.projectsEditPhotos( _visitedProjectId)}" class="dabLink">&{'projectEditEditPhotos'}</a>
		#{/if}
		
		#{if _isGroupEditLinkVisible}
			<br />
			<a  href="@{groups.GroupsEditPhotos.groupsEditPhotos( _visitedGroupId)}" class="dabLink">&{'projectEditEditPhotos'}</a>
		#{/if}
	</p>
</div>