#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/photoedit.js'}" type="text/javascript" charset="${_response_encoding}"></script>

    <script src="@{'/public/javascripts/groups/groupsEditPhotos.js'}" type="text/javascript" charset="${_response_encoding}"></script>

    <script type="text/javascript">
		var setCaptionText = "&{'profileMPClickToSetCaption'}";
		var mainPhotoIndex = "${editedGroup.getPhotoAlbum().getMainPhotoIndex()}";

	   	var updatePhotoCaptionAction 	= #{jsAction @groups.GroupsEditPhotos.doUpdatePhotoCaption(':photoIndex', ':photoCaption') /};
	</script>
#{/set}

<div class="pageContainer">
	<p>
		<a href="@{groups.GroupsView.groupsView( editedGroup.id )}" class="dabLink" >&{'groupForumThreadBackToGroup'}</a>
	</p>

	#{photos.uploadPhotoThumbs photoAlbum:editedGroup.getPhotoAlbum() /}
	
	#{photos.uploadPhotoMPToolbox uploadPhotoLinkActive:uploadPhotoLinkActive, setAsMainPhotoText:"projectPhotosSetAsMainPhoto", photoEditType:"project" /}
	
	#{photos.centralPhotoContainer /}

</div>

<div id="hiddenUploadPhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{groups.GroupsEditPhotos.doUploadPhoto()}">
		<input type="file" id="theFile" name="theFile"  />
	</form>
</div>

<div id="hiddenDeletePhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{groups.GroupsEditPhotos.doDeletePhoto()}">
		<input type="hidden" id="deletedPhotoIdx" name="deletedPhotoIdx"  />
	</form>
</div>
	
<div id="hiddenSetAsMainPhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{groups.GroupsEditPhotos.doSetAsMainPhoto()}">
		<input type="hidden" id="photoIndex" name="photoIndex"  />
	</form>
</div>