#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/projects/projectsResults.css'}" />
#{/set}

<div id="projectSearchResultContainer">
	<span id="searchResultTitle">&{'projectSearchResultTitle'}</span>
	<a href="@{projects.ProjectsSearch.projectsSearch()}" class="dabLink">&{'projectSearchResultBackToSearchPage'}</a>
	
	<div id="projectSearchResultList">
	
		#{list items:projectsSummaries, as:'oneSummary'}
			#{projectSummary projectSummary:oneSummary /}
		#{/list}
	
	</div>
	
	
</div>
