#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/messages.css'}" />
#{/set}


#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/messages/messagesList.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
	   	var loadOnePageAction 		= #{jsAction @messages.MessagesInbox.loadInboxMessages(':pageNumber') /};
	   	var markAsReadAction 		= #{jsAction @messages.MessagesInbox.doMarkMessageAsRead(':messageId') /};
	   	var deleteMessageAction 	= #{jsAction @messages.MessagesInbox.doDeleteMessage(':messageIds') /};
	   	var currentPage = ${pageNumber};
	</script>
#{/set}


<div id="messagesContainer" class="messagesMainContainer">
	
	<div class="messagesTable">
	
		<table class="messagesListTable" id="messagesListTable">
			<thead>
				<tr class="messagesListTableHeader">
					<td class="inboxOutboxDeleteCheckbox">
						<input id="masterCheckbox" type="checkbox" data-bind="checked: areAllMessagesSelected()"/>
					</td>
					<td>&{'profileMessagesFrom'}</td>
					<td>&{'profileMessagesSubject'}</td>
					<td>&{'profileMessagesReceived'}</td>
				</tr>
			</thead>
		
			<tbody data-bind="foreach: messages">
				<tr class="inboxRowTr">
					<td class="inboxOutboxDeleteCheckbox"><input type="checkbox" class="msgCb"/></td>
					<td data-bind="css: { inboxRow: isRead() , 'inboxRowUnread': !isRead()}">
						<a class="dabLink" data-bind="visible: fromUser().isProfileActive, text: fromUser().userName, attr: {href: fromUser().linkToProfile}"></a>
						<span class="dabLinkDisabled" data-bind="visible: !fromUser().isProfileActive, text: fromUser().userName"></span>
					</td>
					
					<td  data-bind="css: { inboxRow: isRead() , 'inboxRowUnread': !isRead()}">
						<span data-bind="text: subject"></span>
					</td>
					
					<td data-bind="css: { inboxRow: isRead() , 'inboxRowUnread': !isRead()}">
						<span data-bind="text: creationDate"></span>
					</td>
				</tr>
			</tbody>
			
			<tr class="messagesListTableHeader" id="topMessageListLastRow">
				<td colspan="2"><span id="deleteSelectedMessagesLink" data-bind="css: {messagesReactionLinkEnabled : isAtLeastOneMessageSelected(), messagesReactionLinkDisabled : !isAtLeastOneMessageSelected()}" >&{'profileMessagesDeleteSelected'}</span></td>
				<td colspan="2" class="profileMessagesInboxBottomRight">
					<span id="messagesPreviousLink"  data-bind="css: {messagesReactionLinkEnabled: previousPageExists(), messagesReactionLinkDisabled: !previousPageExists()}" >&{'profileMessagesPrevious'}</span>
					<span id="messagesNextLink" data-bind="css: {messagesReactionLinkEnabled: nextPageExists(), messagesReactionLinkDisabled: !nextPageExists()}" >&{'profileMessagesNext'}</span>
				</td>
			</tr>
			
		</table>
		

		<table class="messageDetailTable">
			<tr class="messagesListTableHeader">
				<td>&nbsp;</td>
				<td>&{'profileMessagesFrom'}: 
					<a class="dabLink" data-bind="visible: displayedMessage.fromUser().isProfileActive, text: displayedMessage.fromUser().userName, attr: {href: displayedMessage.fromUser().linkToProfile}"></a>
					<span class="dabLinkDisabled" data-bind="visible: !displayedMessage.fromUser().isProfileActive, text: displayedMessage.fromUser().userName"></span>
				</td>
				<td>&{'profileMessagesSubject'}: <span class="messagesListTableHeaderSmall" data-bind="text: displayedMessage.subject"></span></td>
				<td> <span id="messageDetailDate" class="messagesListTableHeaderSmall" data-bind="text: displayedMessage.creationDate"></span></td>
				<td class="profileMessagesInboxBottomRight">
					<span id="replyToLink" data-bind="css: {messagesReactionLinkEnabled: displayedMessage.fromUser().isProfileActive,  messagesReactionLinkDisabled: !displayedMessage.fromUser().isProfileActive}" >&{'profileMessagesReply'}</span> 
					<span id="forwardLink" style="margin-left: 10px" data-bind="css: {messagesReactionLinkEnabled: messageReactionEnabled(),  messagesReactionLinkDisabled: !messageReactionEnabled()}">&{'profileMessagesForward'}</span> 
				</td>
			</tr>
			
			<tr>
				<td colspan="5">
					<textarea id="messageContent" data-bind="text: displayedMessage.content"></textarea>
				</td>
			</tr>
			
		</table>

	
	</div>
</div>



<div id="confirmDeleteMessages" title="&{'confirmationPopupTitle'}">
	&{'profileInboxMessagesConfirmDeletion'}
</div>

<div id="hiddenReplyToForm" class="hidden">
	#{form @messages.MessagesInbox.doReplyTo() }
		<input type="hidden" name="messageId" class="hiddenSubmit" />
	#{/form}
</div>

<div id="hiddenForwardForm" class="hidden">
	#{form @messages.MessagesInbox.doForward() }
		<input type="hidden" name="messageId" class="hiddenSubmit" />
	#{/form}
</div>