#{extends 'masterTemplate.html' /} 

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/search.css'}" />
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/tagcloud.css'}" />
#{/set} 

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/dualModeSwitcher.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/dab/search.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    
    <script src="@{'/public/javascripts/groups/groupsSearch.js'}" type="text/javascript" charset="${_response_encoding}"></script>

    <script type="text/javascript">
   		var allThemes = ${allThemesJson.raw()};
	</script>

#{/set}

<div class="searchPageContainer">

	<div id="groupSearch_modeSimple">

		<p><span class="fs15">&{'projectSearchSimpleModeExplanation'}</span></p>

		<a id="hiddenLinkToEmptyGroupSearchResultPage" href="@{groups.GroupsSearchResult.groupsSearchResult}" class="hidden" ></a>

		<div id="categorieListOfDropboxes" data-bind="foreach: allSingleThemeSubTheme">
			<div>
				<span data-bind="text: label"></span> <br />
				<select data-bind="options: subThemes, optionsCaption: '--', optionsValue: 'jsonId', optionsText: 'subThemeLabel' "> </select>
			</div>
		</div>
	
		<p>
			<span>&{'projectSearchSimpleModeExplanation_GotoAdvancedMode'} </span>
			<span id="groupSearchSwitchToAdvancedModeLink" class="dabLink">&{'projectSearchSimpleModeExplanation_GotoAdvancedMode_Link'}</span>
		</p>
		
		<div id="tagCloudContainer" class="tagCloud" >
			<ul>
				#{list items:popularTags, as:'oneTag'}
					<li class="tag${oneTag.rank}"><a href="#">${oneTag.tag}</a></li> 
				#{/list}
			</ul>
		</div>
		
	</div>
	
	<div id="groupSearch_modeAdvanced" class="hidden">
		<p>
			<span>&{'projectSearchAdvancedModeExplanation_GotoSimpleMode'} </span>
			<span id="groupSearchSwitchToSimpleModeLink" class="dabLink">&{'projectSearchAdvancedModeExplanation_GotoSimpleMode_Link'}</span>
		</p>
		
		#{form @groups.GroupsSearchResult.groupsSearchResult()}
			<table>
				<tbody>
					<tr id="searchLine">
						<td class="formlabel"><label>&{'groupSearchKeyWords'}</label></td>
						<td><input id="groupAvancedSearchInputText" type="text" size="60" name="r.term"></td>
						<td><input type="submit" value="GO"   /></td>
					</tr>
					<tr>
						<td class="formlabel"><label>&{'groupSearchCategories'}</label></td>
						<td>
							<div id="inputSearchGroupThemes">
								#{dab.inputMultiThemes  addThemeLinkLabel:messages.get('projectNewAddOneTheme')/}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<input id="hiddenAllThemesJson" name="r.themes" type="hidden" />
		#{/form }
		
		
	</div>
</div>
