<div >

	#{if _mainPhoto.normalPhotoAddress == null && _galleryType == "profile"}
		<img class="mainPhoto" src="@{'/public/images/defaultProfilePicture.png'}" />
	#{/if}
	#{if _mainPhoto.normalPhotoAddress == null && _galleryType == "project"}
		<img class="mainPhoto" src="@{'/public/images/defaultProjectImage.jpg'}" />
	#{/if}
	#{if _mainPhoto.normalPhotoAddress != null}
		<img class="mainPhoto" src="${_mainPhoto.normalPhotoAddress}" />
	#{/if}

	<p class="centerParagraph ">
		#{if _isPhotoGalleryVisible}
			<a class="dabLink" href="${_photos[0].normalPhotoAddress}" title="${_photos[0].caption}" rel="profilePhotos">&{'profileMorePhotos'}</a>
			
			#{list items:_photos, as:'onePhoto'}
				#{if !onePhoto_isFirst}
					<a href="${onePhoto.normalPhotoAddress}" rel="profilePhotos" style="display: none" title="${onePhoto.caption}">photo${onePhoto_index}</a>
				#{/if}
			#{/list}
		#{/if}
		
		#{if _isProjectEditLinkVisible}
			<br />
			<a href="@{projects.ProjectsEditPhotos.projectsEditPhotos( _visitedProjectId)}" class="dabLink">&{'projectEditEditPhotos'}</a>
		#{/if}
	</p>
</div>