<div class="oneProjectParticipationLine">

	<a href="@{projects.ProjectsView.projectsView( _participation.projectSummary.projectId )}" class="dabLink"> 
	#{if !_participation.projectSummary.hasAThumbPhoto() }
			<img src="@{'/public/images/defaultProjectThumb.jpg'}" class="oneLinerThumb" />
	#{/if}
	
	#{if _participation.projectSummary.hasAThumbPhoto() } 
		<img src="${_participation.projectSummary.mainPhotoThumbLink}" class="oneLinerThumb" />
	#{/if}
	</a>

	<div>
		<a href="@{projects.ProjectsView.projectsView( _participation.projectSummary.projectId )}" class="dabLink">${_participation.projectSummary.name}</a>
		<br />
		&{'projectRole'}: &{_participation.role.label}
		<br />
		&{'projectStatus'}: &{_participation.projectSummary.status.label}
		#{if _participation.projectSummary.creationDate != null}
			<br />
			&{'viewProjectCreatedOn'}: ${_participation.projectSummary.creationDate.format(controllers.BeanProvider.config.dateDisplayFormat)}
		#{/if}
		
	</div>
</div>
