<div class="oneProjectParticipationLine">

	<a href="@{projects.ProjectsView.projectsView( _projectSummary.projectId )}" class="dabLink"> 
	#{if !_projectSummary.hasAThumbPhoto() }
			<img src="@{'/public/images/defaultProjectThumb.jpg'}" class="oneLinerThumb" />
	#{/if}
	
	#{if _projectSummary.hasAThumbPhoto() } 
		<img src="${_projectSummary.mainPhotoThumbLink}" class="oneLinerThumb" />
	#{/if}
	</a>

	<div>
		<a href="@{projects.ProjectsView.projectsView( _projectSummary.projectId )}" class="dabLink">${_projectSummary.name}</a>
		<br />
		&{'projectStatus'}: &{_projectSummary.status.label}
		#{if _projectSummary.creationDate != null}
			<br />
			&{'viewProjectCreatedOn'}: ${_projectSummary.creationDate.format(controllers.BeanProvider.config.dateDisplayFormat)}
		#{/if}
		
	</div>
</div>

