#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="${dabStylesheetsPath}/profile.css" />
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/photoedit.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/dab/profile/profilePhotos.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
		var setCaptionText = "&{'profileMPClickToSetCaption'}";
		var mainPhotoIndex = "${userProfile.getPhotoAlbum().getMainPhotoIndex()}";
	   	var updatePhotoCaptionAction 	= #{jsAction @profile.ProfilePhotos.doUpdatePhotoCaption(':photoIndex', ':photoCaption') /};
	</script>
#{/set}


<div class="pageContainer">
	<p>
		<a href="@{profile.ProfileView.profileView( userProfile.username)}" class="dabLink" >&{'profilePhotosBackToProfile'}</a>
	</p>
	
	#{photos.uploadPhotoThumbs photoAlbum:userProfile.getPhotoAlbum() /}
	
	#{photos.uploadPhotoMPToolbox uploadPhotoLinkActive:uploadPhotoLinkActive, setAsMainPhotoText:'profileMSetProfilePhoto', photoEditType:"profile"/}
	
	#{photos.centralPhotoContainer /}
</div>

*{ the following 3 forms are requried by photoedit.js}*
<div id="hiddenUploadPhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{profile.ProfilePhotos.doUploadPhoto()}">
		<input type="file" id="theFile" name="theFile"  />
	</form>
</div>

<div id="hiddenDeletePhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{profile.ProfilePhotos.doDeletePhoto()}">
		<input type="hidden" id="deletedPhotoIdx" name="deletedPhotoIdx"  />
	</form>
</div>
	
<div id="hiddenSetAsMainPhotoForm" style="display: none">
	<form method="post"	enctype="multipart/form-data" action="@{profile.ProfilePhotos.doSetAsMainPhoto()}">
		<input type="hidden" id="photoIndex" name="photoIndex"  />
	</form>
</div>