#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/profile.css'}" />
#{/set}


#{set 'moreScripts'}

    <script src="@{'/public/javascripts/photoedit.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>

    <script src="@{'/public/javascripts/profile/profilePhotos.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
			var okText = "&{'OkButton'}";
			var cancelText = "&{'CancelButton'}";
			var setCaptionText = "&{'profileMPClickToSetCaption'}";
			var mainPhotoIndex = "${userProfile.mainPhotoIndex}";

		   	var updatePhotoCaptionAction 	= #{jsAction @profile.ProfilePhotos.doUpdatePhotoCaption(':profilePhotoIndex', ':profilePhotoCaption') /};
			
			$(document).ready(function() {
				init();
			})
		</script>
#{/set}


#{profile.photos.uploadPhotoThumbs photoPack:userProfile.photosPack20, mainPhotoIndex:userProfile.mainPhotoIndex + 1/}

#{profile.photos.uploadPhotoMPToolbox uploadPhotoLinkActive:uploadPhotoLinkActive, setAsMainPhotoText:'profileMSetProfilePhoto', photoEditType:"profile"/}

#{profile.photos.profileMPCentralPhotoContainer /}