#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/projects/projectsThemes.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    
    <script src="@{'/public/javascripts/projects/projectsEditResources.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/projects/projectsEditTasks.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/projects/projectsEditAssets.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    
    <script src="@{'/public/javascripts/projects/projectsEdit.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    
    <script type="text/javascript">
	    var projectId = "${editedProject.id}";
    	var allThemes = ${allThemesJson.raw()};
		var firstEditedFieldId = "editedProjectDescription";

	</script>
#{/set}

<span id="allPossibleLanguageNames" style="display: none">${allPossibleLanguageNames}</span>

<div class="pageContainer">

	<div id="projectNewContainer" class="projectEditionFormContainer">
		#{form @projects.ProjectsEdit.doEditProject() }
			<table id="editProjectTable">
				<tr>
					<td class="formlabel"><label >&{'projectNewProjectName'}: </label></td>
					<td>${editedProjectName}</td>
				</tr>

				<tr>
					<td class="formlabel"><label>&{'projectNewProjectGoal'}: </label></td>
					<td>${editedProjectGoal}</td>
				</tr>

				#{projects.projectCreateEditCommon editedProject:editedProject, projectEditVisibility:projectEditVisibility, allThemes:allThemes, dabImagesPath:dabImagesPath /}
						
			</table>
		#{/form }
		
		<div>
			<input id="editProfileButton" type="button" value=" &{'projectEditConfirmButton'} " class="editProjectBottomButton"/>
			<input id="cancelProfileButton" type="button" value=" &{'profileCancelChanges'} " class="editProjectBottomButton"/>
		</div>
		
	</div>
	
	<div id="cancelEditionContainer">
		#{form @profile.ProfileHome.profileHome() }
		#{/form }
	</div>
</div>