#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/projects/projectsEdit.css'}" />
#{/set}


#{set 'moreScripts'}
	<script type="text/javascript"
		src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script src="@{'/public/javascripts/dabGeocoder.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>
    	
    <script src="@{'/public/javascripts/language.js'}" type="text/javascript"
	   	charset="${_response_encoding}"></script>
    	
    <script src="@{'/public/javascripts/projects/projectsEdit.js'}" type="text/javascript"
    	charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
		$(document).ready(function() {
			init();
		})
	</script>
#{/set}

<span id="allPossibleLanguageNames" style="display: none">${allPossibleLanguageNames}</span>

<div class="pageContainer">

	<div id="projectNewContainer">
		#{form @projects.ProjectsEdit.doEditProject() }
			<table id="editProjectTable">
					
						<tr>
							<td class="formlabel"><label >&{'projectNewProjectName'}: </label></td>
							<td>${editedProjectName}</td>
						</tr>
		
						<tr>
							<td class="formlabel"><label>&{'projectNewProjectGoal'}: </label></td>
							<td>${editedProjectGoal}</td>
						</tr>
		
						#{projects.projectCreateEditCommon editedProject:editedProject, allThemes:allThemes  /}
						
			</table>
		#{/form }
		
		<div>
			<input id="editProfileButton" type="submit"  value=" &{'projectEditConfirmButton'} " class="editProjectBottomButton"/>
			<input id="cancelProfileButton" type="submit"  value=" &{'profileCancelChanges'} " class="editProjectBottomButton"/>
		</div>
		
			
	</div>
	
	<div id="cancelEditionContainer">
		#{form @Application.index()}
		#{/form}
	</div>
</div>




