#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="${dabStylesheetsPath}/enter/login.css" />
#{/set}

#{set 'moreScripts'}
    <script type="text/javascript">
	    $(document).ready(function() {
			$("#usernameInput").focus();
		});
	</script>
#{/set}

<div id="signinMenu">
	
	#{form @Enter.doLogin() }

		<p class="loginMessage">
			&{'loginMessage'}
		</p>

		<table>
			<tr>
				<td><label>&{'username'} </label></td>
				<td></td>
			</tr>
			<tr>
				<td><input type="text" id="usernameInput" name="username" value="${flash.username}"/></td>
				<td></td>
			</tr>
			<tr>
				<td><div class="errorMessage">#{error 'username' /}</div></td>
				<td></td>
			</tr>
			<tr>
				<td><label>&{'password'} </label></td>
				<td></td>
			<tr>
				<td><input type="password" id="password" name="password" /></td>
				<td></td>
			</tr>
			<tr>
				<td><div class="errorMessage">#{error 'password' /}</div></td>
				<td></td>
			</tr>

			<tr>
				<td><input type="submit" value=" &{'loginButtonText'} "></td>
				<td></td>
			</tr>
		</table>
	#{/form}

</div>

<div id="belowSigninMenu">
	&{'notYetAMember'}
	<a href="@{Enter.register()}" class="dabLink">&{'register'}</a>
	&{'forFreeOfCourse'}
</div>