#{extends 'masterTemplate.html' /}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/profile/profileCv.js'}" type="text/javascript"  charset="${_response_encoding}"></script>
#{/set}

<div class="pageContainer">

	<div id="photoActions">
		<ul>
			<li>
				#{if userProfile.hasCv()}
					<a href="${userProfile.cvLink.address}" target="_blank"><img src="@{'/public/images/download.png'}" class="iconLink"></img> <span class="dabLink">&{'viewMyCv'}</span></a>
				#{/if}
				#{else}
					<img src="@{'/public/images/download.png'}" class="iconLinkInactive"></img> <span class="dabLinkDisabled">&{'viewMyCv'}</span>
				#{/else}
			</li>
			<li >
				<img id="uploadCvButton" src="@{'/public/images/upload.png'}" class="iconLink"></img> <span id="uploadCvLink" class="dabLink">&{'profileSelectCvToUpload'}</span>
			</li>
			<li>
				#{if userProfile.hasCv()}
					<img id="removeCvButton" src="@{'/public/images/trash.png'}" class="iconLink"> <span class="dabLink" id="removeCvLink">&{'removeMyCv'}</span>
				#{/if}
				#{else}
					<img src="@{'/public/images/trash.png'}" class="iconLinkInactive"></img> <span class="dabLinkDisabled">&{'removeMyCv'}</span>
				#{/else}
			</li>
			
		</ul>
	</div>
	
	
	<!-- this form is used to actually submit data to the upload servlet -->
	<div  style="display: none" id="hiddenForm">
	<form id="hiddenUploadCvForm" method="post"
		enctype="multipart/form-data" action="@{profile.ProfileCv.uploadCv()}"   >
		<input type="file" id="theFile" name="theFile" value=" " />
	</form>
	</div>
	
	<div id="pleaseWaitDialog">
		&{'uploadCVPleaseWait'}
		<br />
		<img  src="@{'/public/images/image_upload.gif'}" class="iconLink" />
	</div>


	<div id="confirmDeleteCvPopup" title="&{'confirmationPopupTitle'}">
		&{'profileConfirmDeleteCv'}
	</div>

	<div  style="display: none" id="hiddenDeleteCvForm">
		#{form @profile.ProfileCv.deleteCv()}
	
		#{/form }
	</div>

</div>
				