#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/userListPopup.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/dab/messages/messagesNew.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    	
    <script type="text/javascript">
	    var profileMessagesChooseFromMyContactsPopupTitle = "&{'profileMessagesChooseFromMyContactsPopupTitle'}";
	</script>
#{/set}


<div id="messagesContainer" class="messagesMainContainer">

	<div class="messagesNewError">
		<ul>
			<li><div class="errorMessage">#{error 'writtenMessage.toUserName' /}</div></li>
			<li><div class="errorMessage">#{error 'writtenMessage.messageContent' /}</div></li>
		</ul>
	</div>

	<div class="messagesNewError">
		<span class="errorMessage"></span>
	</div>

	#{form @messages.MessagesNew.doSendMessage() }
	
		<div>
			<input type="submit" value="&{'profileMessagesSend'}"/>
			<br />
			<br />
			<table id="messagesNewFormHeader">
				<tbody>
					<tr>
						<td>
							<strong>&{'profileMessagesTo'}</strong>
						</td>
						<td>
							<input id="messagesTo" size="20" name="writtenMessage.toUserName" value="${flash['writtenMessage.toUserName']}" data-bind="value: messageRecipient" />
							<span id="choooseFromMyContactsLink" class="dabLinkLSpaced" data-bind="css:  {dabLinkLSpaced : isChooseLinkActive, dabLinkLSpacedDisabled : !isChooseLinkActive()}">&{'profileMessagesChooseFromMyContacts'}</span>
						</td>
					</tr>
					
					<tr>
						<td>
							<strong>&{'profileMessagesSubject'}</strong>
						</td>
						<td > 
							<input  size="50"  name="writtenMessage.subject" value="${flash['writtenMessage.subject']}"  />
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		
		<textarea rows="10" class="messagesNewTextArea" name="writtenMessage.messageContent" >${flash['writtenMessage.messageContent']}</textarea>
	#{/form}
	
	#{dab.usersPopupList users:loggedinUserProfile.myActiveContactsSummaries /}

</div>