#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isDonatePage = true;
	</script>
#{/set}

<div class="pageContainer">

<div class="logoAM"></div>
<div class="generalInfoTexts">

	<div id="donateContainer">
	
	
	<p>When we first had the idea of AlterMotif, we did not think about the money. We were driven by
much greater and more profound ambitions, like many other projects coming into being right now
through this very website. However, we live in a world of material power in which financial means
come to determine every life chance we have, every single thing we can do and accomplish.
AlterMotif wants to remove this dependency upon wealth and offer a chance for people to realize
their projects, irrespective of their financial capital. This is also how AlterMotif came into being,
which is one of the ways in which its story is intertwined with its raison d'être and its future. We
managed to create this remarkable website thanks to generous efforts of a website developer and
graphic designer who were paid only a fraction of what they should have in a commercial setting.
Now we’re up and running but keeping the website online and improving its performance requires
continuous efforts from motivated developers who deserve a fair compensation, enabling them
to eat and live without having to resort to a profit oriented market. Furthermore, the technological
infrastructure also needs to be paid for. Obviously, advertisement doesn’t belong on this website.
Hence, to keep AlterMotif at your service we need all the help we can get and we invite you to
contribute whatever suits you by making a donation on the following account of the nonprofit
organization that hosts AlterMotif:</p>

<ul>
	<li>
	AlterMotif ASBL
	<br />
	BE95 5230 8047 9258
	</li>
</ul>


	</div>
</div>
</div>

