#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isDonatePage = true;
	</script>
#{/set}

<div class="pageContainer">

<div class="logoAM"></div>
<div class="generalInfoTexts">

	<div id="donateContainer">
	
	
	<p>Toen we voor het eerst het idee van AlterMotif hadden, dachten we niet aan het geld. We waren
gedreven door veel grotere en diepgaandere ambities, zoals vele projecten die via deze website
momenteel tot stand komen. We leven echter in een materialistische wereld, waarin de financiële
middelen waarover we beschikken onze kansen in het leven bepalen. AlterMotif wil deze afhankelijkheid
van rijkdom ongedaan maken en mensen de kans geven om hun projecten te realiseren, ongeacht
hun financieel kapitaal. Dit is ook hoe AlterMotif tot stand kwam, één van de vele manieren waarop
zijn geschiedenis overlapt met zijn leidmotief en zijn toekomst. We zijn erin geslaagd om deze
opmerkelijke website te creëren dankzij de onbaatzuchtige inspanningen van een websiteontwikkelaar
en een grafisch vormgever die slechts een fractie werden betaald van wat nodig was geweest in een
commerciële logica. We zijn nu helemaal actief maar de website online houden en verder verbeteren
vereist continue inspanningen van gemotiveerde ontwikkelaars die hiervoor een eerlijke vergoeding
verdienen, om te kunnen eten en wonen zonder hiervoor afhankelijk te zijn van een winstgerichte
markt. Daarnaast moet er ook voor de technologische infrastructuur betaald worden. Reclame hoort
vanzelfsprekend niet thuis op deze website. Daarom hebben we al de beschikbare hulp nodig om
AlterMotif gaande te kunnen houden en dus nodigen we u uit om uw steentje bij te dragen door een
donatie te maken op het volgende rekeningnummer van de vereniging zonder winstoogmerk dat
AlterMotif beheert:</p>

<ul>
	<li>
	AlterMotif ASBL
	<br />
	BE95 5230 8047 9258
	</li>
</ul>


	</div>
</div>
</div>

