#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isDonatePage = true;
	</script>
#{/set}

<div class="pageContainer">

<div class="logoAM"></div>
<div class="generalInfoTexts">

	<div id="donateContainer">
	
	
	<p>Initialement, quand l’idée d’AlterMotif nous parvenait, nous ne pensions pas à l’argent. Nous étions
motivés par des ambitions biens plus grandes et profondes, ainsi que beaucoup d’autres projets qui
sont réalisés en ce moment à travers ce site web. Néanmoins, on vit dans un monde avec des pouvoirs
matérielles dans lequel les moyens financiers finissent par déterminer les opportunités qu’on a, chaque
chose que nous pouvons faire et accomplir. AlterMotif veut effacer cette dépendance de la richesse et
offrir l’opportunité à chaque personne de réaliser ces projets, indépendamment de son capital financier.
C’est aussi la façon dont AlterMotif à été créé, ce qui est une de beaucoup de manières dont son
histoire recouvre sa raison d’être et son futur. Nous avons réussi à créer se site web remarquable grâce
aux efforts généreuses d’un développeur de sites web et d’un designer graphique qui n’étaient payés
qu’une fraction de ce qu’ils auraient du recevoir dans une logique commerciale. Maintenant on est actif
mais garder le site en ligne et améliorer sa performance requière des efforts continus de la part des
développeurs motivés qui méritent une compensation correcte pour ça, leur permettant de manger et
vivre sans dépendre d’un marché orienté vers les profits. En plus, l’infrastructure technologique doit
être payé. Évidemment, la publicité n’a pas de place sur ce site web. C’est pourquoi, afin de pouvoir
maintenir le site à votre disposition, nous avons besoin de tout aide disponible et que nous vous invitons
à contribuer quoi qui vous plaît en faisant une donation au compte suivant de l’organisation sans but
lucratif qui gère AlterMotif :</p>

<ul>
	<li>
	AlterMotif ASBL
	<br />
	BE95 5230 8047 9258
	</li>
</ul>


	</div>
</div>
</div>

