#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/homepage.css'}" />
#{/set}



<div id="homePageTitleContainer">

	<div id="homepageFirstColumn">
	<img src="@{'/public/images/am_logo_new.png'}" alt="altermotif"/>
	</div>
	
	<div id="homepageSecondColumn">
	<p>
	<span id="homePageTitle1">
	 &{'homePageTitle1'}
	</span> <br/>
	<span id="homePageTitle2">
		&{'homePageTitle2'}
	</span> <br/>
	</p>
		
	
	<p class="homePageExplanation">
		<h2 class="homePageExplain1">&{'homePageHowDoesItWort'}</h2>
		<span class="homePageExplain2">&{'homePageExplanation'}</span>
	</p>

	<p class="homePageExplanation" id="lien">
		<span class="findProjectButton">
		<a href="@{projects.ProjectsSearch.projectsSearch()}" >&{'homePageFindAProject'}</a>
		</span>
		
	</p>
	</div>
</div>




