#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isPrivacyStatementPage = true;
	</script>
#{/set}

<div class="pageContainer">

<div class="logoAM"></div>
<div class="generalInfoTexts">


<h1>Privacy Verklaring</h1>

<p>
Wij respecteren uw privacy en we zullen geen informatie die u verschaft verstrekken aan derden tenzij dit vereist is door de nationale of internationale wetgeving of autoriteiten. We zullen nooit de informatie die u verschaft delen met derden met een commerciëel oogmerk zoals promotie, reclame e.d.m.
</p>

<p>
We zullen uw informatie om technische redenen bewaren gedurende de periode dat u geregistreerd bent bij AlterMotif. Indien u informatie op uw profiel wil verwijderen, dan volstaat het om op de 'wijzig mijn profiel' pagina handmatig de gegevens te verwijderen die u heeft ingevoerd. Hetzelfde geldt voor CV's en foto's die u naar de website heeft geüpload. Gelieve te onthouden dat het desactiveren van uw account niet automatisch leidt tot de verwijdering van de gegevens op uw profiel.
</p>

<h2>Informatie die u online plaatst</h2>

<p>
Het staat u vrij om te bepalen hoeveel inzage u geeft aangaande uw persoonlijke informatie. U kan de privacy instellingen betreffende uw profiel wijzigen op de 'privacy instellingen' pagina. Als administrator of leider van een project kan u ook de zichtbaarheid van informatie aangaande dat project wijzigen via de 'wijzig project' pagina. Het volgende is dan van toepassing voor informatie betreffende een profiel- en projectpagina :
</p>

<ul>

<li>Indien u in de bijgaande lijst kiest voor ‘iedereen’, dan is de betreffende informatie publiek zichtbaar, zelfs wanneer u niet bent aangemeld bij AlterMotif</li>
<li>Indien u in de bijgaande lijst kiest voor 'aangemelde gebruikers',dan kunnen enkel de leden die geregistreerd en aangemeld zijn bij AlterMotif de betreffende informatie zien</li>
<li>Indien u in de bijgaande lijst kiest voor 'mijn contacten', dan kunnen enkel de gebruikers die in uw contactenlijst voorkomen de betreffende informatie zien. Deze optie is enkel van toepassing voor persoonlijke informatie</li>
<li>Indien u in de bijgaande lijst kiest voor 'leden van dit project', dan kunnen enkel de deelnemers aan het project de betreffende informatie zien. Deze optie is enkel van toepassing voor informatie over een project</li>
<li>Indien u in de bijgaande lijst kiest voor 'administratoren van dit project', dan kunnen enkel de administratoren en de leider van het project de betreffende informatie zien. Deze optie is enkel van toepassing voor informatie over een project</li>
<li>Indien u in de bijgaande lijst kiest voor 'niemand', dan kan enkel u de informatie zien. Deze optie is enkel van toepassing voor persoonlijke informatie</li>
</ul>

<p>
U kan uw profiel op elk moment desactiveren. Merk op dat dit niet automatisch leidt tot de verwijdering van uw informatie op onze servers. U kan handmatig al de informatie verwijderen, evenals uw foto's en CV, en eventueel ander materiaal om te verzekeren dat uw gegevens permanent van onze servers worden verwijderd.
</p>

<p>
Een gedesactiveerd profiel is niet zichtbaar voor andere gebruikers. De referenties die u hebt gelaten voor andere gebruikers en berichten die u op projectpagina's hebt achtergelaten zullen echter bewaard blijven voor de veiligheid en de goede werking van de website.
</p>

<h2>Cookies & IP Adressen</h2>

<p>Vrijwel alle websites gebruiken cookies om de werking en de gebruiksvriendelijkheid op effectieve wijze te bevorderen. AlterMotif vormt hierop geen uitzondering. Cookies worden bewaard op uw hardware tijdens uw gebruik van de website en ze zijn op geen enkele wijze gekoppeld aan uw persoonlijke informatie. Ze vergemakkelijken de communicatie tussen uw computer en de website.</p>

<p>AlterMotif heeft toegang tot uw IP adres maar maakt hier geen gebruik van voor enig ander doel dan voor de functionaliteit van de website en voor de bescherming tegen mogelijke bedreigingen van de veiligheid die kunnen voortkomen uit criminele activiteiten.</p>

<h2>Persoonlijke informatie</h2>

<p>Al de informatie die u ons verschaft is veilig bij ons. De veiligheid op Internet is een zeer complexe zaak en geen gegevens zijn geheel veilig voor diefstal of schadelijke aanvallen. We doen echter ons best om uw informatie zoveel mogelijk te beschermen.</p>

<p>AlterMotif behoudt het recht om wijzigingen op deze privacy verklaring aan te brengen zonder voorgaande toestemming vanwege de gebruikers. Door u bij AlterMotif te registreren, gaat u expliciet akkoord met dit document.</p>

<p>Van kracht vanaf January 2012.</p>
</div>
</div>