#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isPrivacyStatementPage = true;
	</script>
#{/set}

<div class="pageContainer">

<h1>CONFIDENTIALITÉ</h1>

<p>
Nous respectons votre confidentialité et nous ne partagerons pas des informations que vous nous fournissez avec des tiers excepté si cela est requis par la loi et des autorités nationaux ou internationaux. Nous ne partagerons jamais l'information que vous nous fournissez avec des tiers à des fins commerciaux y inclus la promotion ou le placement de publicité.
</p>

<p>
Nous conserverons votre information pour des raisons fonctionnels pendant la période que vous serez un membre d'AlterMotif. Si vous voulez effacer l'information sur votre profile, il suffit d'aller vers la page 'modifier mon profil' et de manuellement effacer tous les données que vous avez inséré. La même chose s'applique à votre CV et aux photos que vous avez téléchargé sur le site web. N'oubliez pas que, pour des raisons techniques, la désactivation de votre compte ne mène pas à la suppression de l'information sur votre profil.
</p>

<h2>L'INFORMATION FOURNIS PAR VOUS SUR LE SITE WEB</h2>

<p>
Vous pouvez librement choiser le niveau de révélation par rapport à vos informations personnelles. Vous pouvez ajuster vos conditions de confidentialité à travers la page 'conditions de confidentialité'. En tant qu'administrateur ou leader d'un projet, vous pouvez également modifier la visibilité des informations sur le projet à travers la page 'editer le projet'. Le suivant s'applique alors à votre page de profile et aux pages de projet :
</p>

<ul>

<li>Si vous choisissez 'tout le monde' dans la liste, l'information que vous mettez sur le site web sera visible au public, même si vous n'êtes pas connecté à AlterMotif</li>
<li>Si vous choisissez ‘les utilisateurs connectés à AlterMotif’ dans la liste, seulement les utilisateurs avec un compte AlterMotif qui sont connectés au site web seront capables de voir l'information</li>
<li>Si vous choisissez 'mes contacts' dans la liste, seulement les membres dans votre liste de contacts seront capables de voir l'information. Cette option s'applique uniquement pour vos informations personnels</li>
<li>Si vous choisissez 'membres de ce projet' dans la liste, seulement les membres du projet concerné seront capables de voir l'information. Cette option s'applique uniquement pour les informations liées à un projet</li>
<li>Si vous choisissez 'administrateurs de ce projet' dans la liste, seulement les administrateurs et le leader du projet concerné seront capables de voir l'information. Cette option s'applique uniquement pour les informations liées à un projet</li>
<li>Si vous choisissez 'le leader de ce projet' dans la liste, seulement le leader du projet concerné sera capable de voir l'information. Cette option s'applique uniquement pour les informations liées à un projet</li>
<li>Si vous choisissez 'personne' dans la liste, personne ou - au cas où ça concerne vos données personnelles - uniquement vous pourrez voir l'information.</li>
</ul>

<p>
Vous pouvez désactiver votre profil à chaque moment. Veuillez noter que cela n'entraîne pas la suppression de l'information sur nos serveurs. Vous devez manuellement effacer toute l'information, ainsi que vos photos et votre CV, afin d'assurer que vos données seront supprimés de nos serveurs de manière permanente.
</p>

<p>
Un profil désactivé ne sera pas visible à d'autres utilisateurs. Cependant, les références que vous avez laissé aux autres utilisateurs et vos messages sur les pages de projet seront préservés afin d'assurer la séccurité et le bon fonctionnement du site web.
</p>

<h2>COOKIES & ADRESSES IP</h2>

<p>Tous les sites web utilisent des cookies afin de fonctionner d'une façon plus facile à utiliser et efficace. AlterMotif n'en est pas une exception. Des cookies sont sauvegardés dans votre matériel pendant le temps que vous utilisez le site web et ils ne sont pas liés à votre information personnelle d'aucune manière. Ils rendent la communication entre votre ordinateur et notre site web plus facile. </p>

<p>AlterMotif aura accès à votre addresse IP mais ne l'utilisera pas pour des raisons autres que le bon fonctionnement du site web et la protection des menaces de sécurité qui pourrait surgir d'actions criminels.</p>

<h2>INFORMATIONS PERSONNELLES</h2>

<p>Toute information que vous fournissez est bien securisé. La sécurité sur Internet est hautement complex et aucun donnée n'est complètement securisé de vol et d'attaques pernicieuses. Cependant, nous faisons tout notre possible afin de protéger votre information.</p>

<p>AlterMotif se réserve le droit de modifier ces conditions de confidentialité sans authorisation préalable de ces utilisateuurs. En s'enregistrant à AlterMotif, vous acceptez explicitement ces conditions.</p>

<p>EN VIGUEUR À PARTIR DE JANVIER 2012</p>
</div>