#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isPrivacyStatementPage = true;
	</script>
#{/set}

<div class="pageContainer">

<h1>Privacy Statement</h1>

<p>TODO: Turkish translation</p>

<p>
We respect your privacy, and we will not share the information you provide with any third party unless it is required by national or international law or authorities. We will never share the information you provide with third parties with commercial interests including promotion, advertisement placement and alike. 
</p>

<p>
We will store your information for functional reasons as long as you will be a member of AlterMotif. If you wish to delete the information on your profile, it suffices to go to ‘edit profile’ page and manually delete all the data you have entered. Same applies to CVs and photos you uploaded to the website. Please remember that deactivate your account does not mean deleting the information on your profile. 
</p>

<h2>Information provided by you online </h2>

<p>
You are free to choose the level of disclosure regarding your personal information. You can adjust privacy settings regarding your profile from ‘privacy settings’ page. As the administrator or leader of a project, you can also adjust the visibility of information regarding that project through the ‘edit project’ page. The following then applies to your profile and project pages: 
</p>

<ul>

<li>If you choose ‘everyone’ in the list, the information you put on the website will be visible to public, even if they are not logged on to AlterMotif</li>
<li>If you choose ‘people logged in to AlterMotif’ from the list, only the users with an AlterMotif account and who are logged on to our Website will be able to see the information</li>
<li>If you choose ‘my contacts’ from the list, only the users who are in your contact list will be able to see the information. This option only applies to your personal information</li>
<li>If you choose ‘members of this project’ in the list, only the participants of the project will be able to see the information. This option only applies to information regarding a project</li>
<li>If you choose ‘administrators of this project’ in the list, only the administrators and the leader of the project will be able to see the information. This option only applies to information regarding a project</li>
<li>If you choose ‘leader of this project’ in the list, only the leader of the project will be able to see the information. This option only applies to information regarding a project</li>
<li>If you chose ‘Nobody’ from the list, nobody or - in case it concerns personal information - you will be able to see your information </li>
</ul>

<p>
You can deactivate your profile any time you want.  Please note that does not mean deleting the information from our servers. You have to manually delete all the information, as well as photos and CVs, and any other material to make sure your data is permanently deleted from our servers. 
</p>

<p>
A deactivated profile will not be visible to other users. However, the references you have left for others and messages on project pages will remain for the purposes of security and well functioning of the website. 
</p>

<h2>Cookies & IP Addresses </h2>

<p>All websites uses cookies in order to function in a more user-friendly and effective way. AlterMotif is no exception. Cookies are stored in your hardware while you are using the website, and they are not linked to any of your personal information in any way. They make the communication between your computer and our website easier. </p>

<p>AlterMotif will have access to your IP address but will not use it for purposes other than functionality of the website and protection from security threats that might arise from criminal behavior. </p>

<h2>Personal Information </h2>

<p>All the information you provide is safe with us. Internet security is a highly complex issue and no data is completely secure from theft or malign attacks. However, we are doing our best to protect your information.</p>

<p>AlterMotif reserves the right to make changes to this privacy statement without prior consent or permission from the users. By signing up to AlterMotif, you explicitly agree to this document. </p>

<p>Effective as of January 2012.</p>
</div>