#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isPrivacyStatementPage = true;
	</script>
#{/set}

<div class="pageContainer">

<div class="logoAM"></div>
<div class="generalInfoTexts">

<h1>Gizlilik  Politikası</h1>

<p>
Kişisel bilgilerinizi gizli tutma hakkınıza saygı duyuyoruz ve bizimle paylaştığınız bilgileri ulusal ve uluslararası bir kanun veya kamu otoriteleri tarafından talep edildikleri, AlterMotif’i yasal olarak bağlayan durumlar haricinde hiçbir üçüncü şahıs ve kurumla paylaşmıyoruz.AlterMotif kullanıcı bilgilerini hiçbir koşul altında ticari amaçlarla kullanmayacağını taahhüt eder (reklam ve pazarlama, hedef kitleye ulaşmak için yapılan demografik çalışmalar dahil)
</p>

<p>
Kişisel bilgileriniz, siteye üye olduğunuz sürece AlterMotif tarafından işleyişsel sebeplerle saklanacaktır.  Bilgilerinizi silmek istiyorsanız, profil sayfanıza giderek ‘Profilimi Güncelle’ bağlantısına tıklayıp, tüm bilgilerinizi manüel olarak silmeniz yeterlidir.  Aynı şey yüklediğiniz özgeçmişler ve fotoğraflar için de geçerlidir. Lütfen unutmayınız: Profilinizi pasif duruma getirmek profil sayfanızdaki bilgilerin silindiği anlamına gelmez.
</p>

<h2>Çevrimiçi Bilgiler </h2>

<p>
Kişisel bilgilerinizi diğerleriyle ne derece paylaştığınız tamamen sizin kontrolünüzdedir. Gizlilik ayarları kısmından profilinizle ilgili ayarları değiştirebilirsiniz. Proje liderleri ve yöneticileri de, aynı şekilde, projeler ile ilgili bilgilerin ne derece gizli veya görünür olduğuna karar verebilirler. Projeler ile ilgili gizlilik ayarlarını ‘Projeyi Güncelle’ sayfasından değiştirebilirsiniz.Proje ve Profil sayfalarının gizlilik dereceleri aşağıdaki gibidir:
</p>

<ul>

<li>Listedeki ‘Herkes’ seçeneği, site ile paylaştığınız tüm bilgilerin siteyi ziyaret eden herkese görünür olması demektir (ziyaretçilerin AlterMotif hesabı olmasa bile)</li>
<li>Listedeki ‘AlterMotif Hesabı Olanlar’ seçeneği, paylaştığınız bilgilerin sadece AlterMotif hesabıyla oturum açmış kullanıcılara görünür olması demektir</li>
<li>Listedeki ‘Bağlantılarım’ seçeneği, paylaştığınız bilgilerin sadece sizin bağlantı listenizde olan kişilere görünür olması demektir (Bu seçenek sadece profil sayfaları için geçerlidir)</li>
<li>Listedeki ‘Proje Üyeleri’ seçeneği, proje ile ilgili bilgilerin sadece proje katılımcıları tarafından görünür olması demektir (bu seçenek sadece proje sayfaları için geçerlidir)</li>
<li>Listedeki ‘Proje Yöneticileri ve Proje Lideri’ seçeneği proje ile ilgili bilgilerin sadece proje yöneticileri ve proje lideri tarafından görünür olması demektir (bu seçenek sadece proje sayfaları için geçerlidir)</li>
<li>If you choose ‘leader of this project’ in the list, only the leader of the project will be able to see the information. This option only applies to information regarding a project</li>
<li>Listedeki ‘Hiç kimse’ seçeneği paylaştığınız kişisel bilgilerin sadece sizin tarafınızdan görünür olması anlamına gelir.  </li>
</ul>

<p>
Profilinizi istediğiniz anda pasif yapabilirsiniz. Dikkat: Bu kişisel bilgilerinizi AlterMotif sunucularından silmek anlamına gelmez. Kişisel bilgileriniz, özgeçmişiniz ve fotoğraflarınızı sunucularımızdan kalıcı olarak silmek için, bu verileri manüel olarak silmeniz gerekmektedir. 
</p>

<p>
Pasif bir profil diğer kullanıcılara görünmez olacaktır. Bununla birlikte, diğer kullanıcılar için bıraktığınız referanslar, proje sayfalarına bıraktığınız mesajlar ve benzeri; sitenin işleyişi açısından görünür olmaya devam edecektir. 
</p>

<h2>Tanımlama Bilgileri & IP Adresleri </h2>

<p>Tüm internet siteleri kullanıcı dostu olabilmek ve etkin çalışabilmek adına, cookie(tanımlama bilgisi) denen kodlar kullanır. AlterMotif de buna dahildir. Bu tanımlama bilgileri sitede gezindiğiniz süre içinde bilgisayarınızda depolanır ve hiçbir şekilde kişisel bilgilerinizle ilgili değildir. Bilgisayarınızla internet sitesi arasındaki iletişimi kolaylaştırmaktan başka bir amaçları yoktur. </p>

<p>AlterMotif’in IP adresinize erişimi vardır ve bu bilgi sadece internet sitesinin iyi işleyişi ve güvenlik tehditlerine karşı korunma amaçlı olarak kullanılır</p>

<h2>Kişisel Bilgileriniz </h2>

<p>Bizimle paylaştığınız tüm bilgiler güvence altındadır. Internet güvenliği son derece karmaşık bir konudur ve hiçbir bilgi kötü niyetli saldırılara ve bilgi hırsızlığına karşı yüzde yüz korunma altında değildir. Yine de, güvenliğiniz için elimizden gelenin en iyisini yapıyoruz. </p>

<p>AlterMotif işbu gizlilik kuralları üzerinde istediği anda ve kullanıcılarına danışma veya onların iznini alma gereği duymadan değişiklik yapma hakkını saklı tutar.AlterMotif’e üye olmak, iş bu dokümanı anladığınız ve onayladığınız anlamına gelir. </p>

<p>Ocak 2012 tarihinden itibaren geçerlidir.</p>
</div>
</div>