#{extends 'masterTemplate.html' /}

#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isTermsAndConditionsPage = true;
	</script>
#{/set}

<div 	class="pageContainer">


<h1>Conditions d'utilisation</h1>
<br />

<p>La version d'origine de ce document est l'anglais. En cas de conflit entre la traduction de ce document et <a href="@{Application.termsAndConditions('en')}" class="dabLink">la version d'origine</a>, cette dernière prévaut.</p>

<p>
Les conditions suivantes décrivent la nature de la relation entre vous, AlterMotif et des tiers. Ces conditions s’appliquent auttomatiquement lorsque vous commencez à utiliser ce site en tant que membre. Veuillez les lire attentivement et asserez-vous de les consulter de temps en temps afin de rester au courant des changements éventuels. AlterMotif reserve le droit de changer à chaque moment dans le future et sans notification. Votre usage du site d’AlterMotif signifie que vous accepter ces changements à l’avance. Si vous ne vous conformez pas aux conditions d’utilisation, alors vous pouvez subir la suspension ou l’arrêt de votre compte.
</p>

<h2>AlterMotif</h2>

<p>
AlterMotif est une plate-forme virtuelle conçu afin de faciliter l’intéraction et la cooperation entre les utilisateurs afin de réaliser un large variété de projets. L’entité legale liée à AlterMotif est l’organisation sans but lucrative ayant le même nom, AlterMotif ASBL, registré à Bruxelles, Belgique.
</p>

<h2>
ENREGISTREMENT
</h2>

<p>
Même si vous pouvez voir certaines parties du site web sans enregistrement, une grande quantité de l’information est uniquement accessible aux utilisateurs enregistrés. Afin de s’enregistrer, vous devez fournir une addresse e-mail et un nom d’utilisateur, ainsi que votre vrai nom et surnom ou, dans le cas où vous représentez une entité morale (une organisation, groupe, ONG), le nom et statut légal de votre organisation. Vous pouvez choisir de rendre votre vrai nom invisible aux autres utilisateurs. Vous êtes responsable de fournir des informations précises concernant vos données personnelles et de les garder securisé. Avec ceci, nous voulons dire que :
</p>

<ul>
<li>Vous ne pouvez pas personnifier d’autres personnes et entités</li>
<li>Vous ne pouvez pas installer le compte d’un tiers sans sa permission</li>
<li>Vous ne pouvez pas utiliser un nom d’utilisateur blessant, incitant à la haine ou inadéquat</li>
<li>Vous êtes responsable de sélectionner et de mettre votre mot de passe en sûreté</li>
<li>AlterMotif ne peut être tenu responsable pour tous dommages résultant du vol ou de l’utilisation par d’autres personnes de votre mot de passe.</li>
</ul>

<p>
Chaque violation de ce qui précède peut mener à une annulation permanente de votre compte.
</p>

<h2>
UTILISATEURS
</h2>

<p>
En s’enregistrant au site web d’AlterMotif, vous acceptez nos conditions d’utilisation. Ainsi, vous acceptez implicitement les droits et devoirs qui suivent de cet accord et que vous vous y conformerez et que la relation entre vous, AlterMotif, d’autres utilisateurs et des tiers seront basées sur des relations en bonne foi. Vous acceptez aussi que ne pas faire ainsi résultera dans la suspension ou suppression permanente de votre compte sur AlterMotif.
</p>

<p>
VOTRE RAPPORT À D'AUTRES UTILISATEURS
</p>

<p>
Vous êtes responsable de votre intéraction avec d’autres en bonne foi et conforme à la loi et aux principes de la communauté AlterMotif. AlterMotif ne participe pas au processus de comment vous gérer vos projets et de comment vous participez dans les projets d’autres utilisateurs. Vous êtes responsable de fournir des informations adéquats aux auttres, de respecter les droits personnels des autres et les droits de propriété, et d’accomplir vos promesses envers d’autres. AlterMotif n’est pas responsable de l’échec de la part des utilisateurs d'agir en bonne foi.
</p>

<p>
AlterMotif ne possède pas les ressources pour contrôler les échanges entre les utilisateurs et ne peut pas garantir l'exactitude de l'information que chaquue utilisateur publie sur son profil. En termes plus détaillés, en tant qu'utilisateur vous êtes responsable de:
</p>

<ul>
<li>Traiter d'autres utilisateurs en bonne foi et assurer qu'AlterMotif reste une espace décent pour passer du temps et pour contribuer aux causes non lucratives</li>
<li>Respecter la confidentialité, l'information personnelle et les droits de propriété intellectuels des autres utilisateurs</li>
<li>Tenir les promesses que vous avez fait aux autres utilisateurs</li>
<li>N'utiliser aucune information que vous obtenez à travers le site web à des fins personnelles ou commerciales</li>
<li>Ne pas disséminer des informations qui ne vous appartiennent pas y inclus mais pas limité à des informations personnelles, des photos et des informations financières telle que les données d'une carte de crédit</li> 
<li>Ne pas utiliser et reproduire des idées d'autres utilisateurs sans leur permission explicite</li>
</ul>

<p>
Chaque violation de ce qui précède peut mener à une annulation permanente de votre compte.
</p>

<h2>
VOTRE RAPPORT AUX TIERS
</h2>

<p>
Vous ne pouvez pas utiliser l'information des tiers sur le site web AlterMotif si cette information est:
</p>
<ul>
<li>De nature personnelle au privée et si c'est obtenu sans permission</li>
<li>De nature commerciale et favorise un produit ou une service particulière.</li>
</ul>

<h2>
PROJETS
</h2>

<p>
AlterMotif est là pour de faciliter pour chacun de trouver des personnes et ressources afin de réaliser leurs projets. En devenant membre, vous acceptez d'avoir une approche en bonne foi envers les autres et leurs projets. Vous pouvez initier des projets et chercher, parcourir et présenter votre candidature pour ceux des autres sans limitations. Cependant, certains règles s'appliquent:
</p>

<ul>
<li>Fil conducteur du site web, son principe plus important est que les projets ne peuvent pas avoir le bénéfice comme but ultime ou unique. Nous avons mis des grands efforts dans la réalisation de ce site web et nou l'avons fait parce que nous croyons qu'une intéraction humaine véritable, libéré de la poursuite aveugle de profit peut réellement faire une différence dans ce monde. Nous attendons de vous, et nous vous demandons, la même sensibilité par rapport à ce principe. Cela ne signifie pas que les projets ne peuvent pas générer un revenu ou du profit, mais ils doivent avoir un but clair et bien défini, autre que le revenu. Même si on applique des mesures pour assurer que le site web est utilisé comme prévu, nous ne pouvons pas garantir que tous les projets satisfont à ces critères. Les utilisateurs sont responsables de préserver leur comportement en bonne foi et sans but lucratif.</li> 
<li>Les projets ne peuvent pas être en infraction à des lois nationaux ou internationaux.</li>
<li>Les projets avec les caractéristiques suivants seront supprimés, avec leurs leaders enlevés de manière permanente du site: la promotion des drogues illégales, pornographie, pédophilie, chaque forme de comportement exploitant envers des animaux et humains, discrimination et campagnes politiques oppressives avec des répercussions négatives aux humains. </li>  
<li>Projects can not be in conflict with copyright laws: you may not present someone else's idea as yours. If you do so, AlterMotif is not responsible for such violations and your are solely responsible for the authenticity of your idea and to defend it from any accusation which might imply otherwise</li>
<li>AlterMotif se réserve le droit de décider si un projet est conforme aux principes généraux - décris ici - du site web.</li>
<li>Les Projets comportent trois rôles: leader, administrateur et membres. </li>
<li>Le leader d'un projet a le contrôle ultime du projet. Il ne peut pas quitter le projet ou supprimer son compte AlterMotif tant qu'il est le leader d'un ou de plusieurs projets; il doivent pour ceci d'abord transférer le statut de leader vers un autre utilisateur ou annuler ou terminer le projet</li>
<li>Le leader d'un projet, ainsi que les administrateurs, peut décider d'accepter ou de refuser les candidatures des autres utilisateurs, désirant de particper à son projet.</li>
<li>Le leader d'un projet, ainsi que les administrateurs, peut enlever des membres d'un projet. Ils sont responsables d'agir en bonne foi dans leurs intéractions avec d'autres participants au projet.</li>
<li>Tous les participants d'un projet (leader, administrateurs et membres) sont responsables d'agir en bonne foi l'un envers l'autre. AlterMotif ne peut pas assurer les résultats promis des projets et ne peut pas être tenu responsable d'un échec d'accomplir les promesses faites par un membre, administrateur ou leader</li>
</ul>

<p>
Chaque violation de ce qui précède peut mener à une annulation permanente d'un projet et/ou de votre compte.
</p>

<h2>
FORUMS
</h2>

<p>
Les forums sont conçu pour faciliter l'échange d'information entre les participants des projets et entre tous les utilisateurs d'AlterMotif. Vous êtes responsables pour ce que vous publiez dans les forums. Les règles suivants s'appliquent:
</p>
 
<ul>
<li>Pas d'infraction à des lois nationaux ou internationaux</li>
<li>Fondé en bonne foi</li>
<li>Vous ne pouvez pas utiliser le forum ou une autre partie du site web pour des buts de spam ou phishing. Des e-mails spam incluent mais ne ce limitent pas à des messages en bloc et des publicités commerciales.</li>
<li>Pas de discours incitant à la haine, pas de remarques discriminatoires, sexistes ou racistes</li>
<li>Pas de remarques stéréotypiques</li>
<li>Pas de contenu violent, blessant, sexuellement inconvenant, pas de nudité</li>
<li>Pas de violation des droits personnels d'autres membres et des tiers</li>
<li>Pas d'infraction des droits de propriété intellectuels et physiques</li>
<li>Pas de liens vers des site web commerciales avec des intentions publicitaires</li>
</ul>
 
<p>
Chaque violation de ce qui précède peut mener à une annulation permanente d'un message et/ou de votre compte
</p>

<h2>
LIENS
</h2>

<p>
Les utilisateurs peuvent insérer des liens vers des sites web d'un tiers sur leur profil personnel, un forum ou une page de projet. En mettant ce lien sur notre site web, vous acceptez en avance qu'AlterMotif n'est pas responsable de ou exposé à leur contenu et exactitude. Les utilisateurs ne peuvent pas insérer des liens vers des site web commerciales avec des intentions publicitaires
</p>

<p>
Des liens vers des sites web d'un tiers reflètent la contribution personnelle des utilisateurs et AlterMotif n'approuve ou ne soutient aucun de ces sites web et leur contenu. Les utilisateurs acceptent que les liens qu'ils insèrent ne peuvent pas inclure:
</p>

<ul>
<li>du contenu en infraction à des lois nationaux ou internationaux</li>
<li>du contenu violant des droits personnels, contractuels ou intellectuels</li>
<li>du contenu violant la bonne foi et les règles de communauté</li>
<li>des informations trompeuses, inexactes ou frauduleuses</li>
<li>junk mail, spam ou lettres à chaîne</li>
<li>des virus ou d'autres codes informatiques qui visent à interférer avec le bon fonctionnement d'un logiciel ou matériel</li>
 <li>des virus ou d'autres codes informatiques qui visent à  obtenir l'accès non-authorisé à chaque type d'information ou mot de passe</li>
</ul>

<p>
Chaque violation de ce qui précède peut mener à une annulation permanente d'un lien et/ou de votre compte
</p>

<h2>
LIMITATIONS DE RESPONSABILITÉ
</h2>

<p>
En acceptant les conditions d'utilisation, vous acceptez qu'AlterMotif ne porte pas de responsabilité pour :
</p>

<ul>
<li>Chaque intéraction entre des individus utilisant ces services et des tiers, indépendemment de s'ils ont eu des contacts avec AlterMotif</li> 
<li>Chaque action, comportement, abus ou mauvaise conduite des individus uutilisant ces services ou des tiers</li>
<li>Chaque dommage résultant des intéractions entre les individus utilisant ces services et des tiers</li>
<li>L'exactitude (et la manque de ceci) de l'information concernant les projets; les promesses faites entre les utilisateurs et la réussite ou l'échec des dates-limites; de l'exécution des tâches et moyens assignées etc.</li>
</ul>

<p>
AlterMotif ne participe pas à des conflits résultant d'un désaccord ou des conflits entre les participants d'un projet ou entre ceux-ci avec des tiers, indépendamment de la nature de leur désaccord
</p>

<p>
EN VIGUEUR À PARTIR DE JANVIER 2012
</p>



</div>