#{extends 'masterTemplate.html' /}


#{set 'moreStyles'}
#{/set}


#{set 'moreScripts'}
	<script  type="text/javascript">
		var isTermsAndConditionsPage = true;
	</script>
#{/set}


<div class="pageContainer">

<div class="logoAM"></div>
<div class="generalInfoTexts">


<h1>Gebruiksovereenkomst</h1>
<br />

<p>
De oorspronkelijke versie van deze gebruiksovereenkomst is in het Engels. Voor zover er concflicten opduiken tussen een vertaalde versie met de Engelstalige versie, is de <a href="@{Application.termsAndConditions('en')}" class="dabLink"> Engelstalige versie</a> van toepassing.
</p>

<h2>AlterMotif</h2>

<p>
AlterMotif is een virtueel platform dat ontwikkeld werd om de interactie en samenwerking tussen gebruikers te faciliteren ter realisatie van een brede waaier aan projecten. De legale entiteit die gekoppeld is aan AlterMotif is de vereniging zonder winstoogmerk die dezelfde naam draagt, AlterMotif ASBL, geregistreerd in Brussel, België.  
</p>

<h2>
Registratiie
</h2>

<p>
Hoewel sommige delen van de website zichtbaar zijn zonder registratie, is een groot deel van de informatie enkel zichtbaar voor geregistreerde gebruikers. Om te registreren, dient u een e-mail adres en gebruikersnaam in te geven, evenals uw echte voor- en achternaam of, ingeval u een morele entiteit vertegenwoordigt (een organisatie, groep, NGO), de naam en legale status van uw organisatie. U mag kiezen om uw echte naam onzichtbaar te maken voor andere gebruikers. U bent verantwoordelijk voor de accurate aanlevering en beveiliging van uw persoonlijke gegevens. Hieronder verstaan we :
</p>

<ul>
<li>U kan zich niet zonder toestemming voordoen als een andere persoon entiteit</li>
<li>U kan geen profiel aanmaken van een derde zonder diens toestemming</li>
<li>U kan geen beledigende, tot haat aanzettende of ongepaste gebruikersnaam hanteren</li>
<li>U bent verantwoordelijk om uw wachtwoord op een veilige manier te selecteren en te bewaren</li>
<li>AlterMotif kan niet verantwoordelijk worden gesteld voor enige schade die resulteert uit de diefstal of het gebruik van uw wachtwoord door andere personen</li>
</ul>

<p>
Elke inbreuk op het voorgaande kan leiden tot de permanente verwijdering van uw account.
</p>

<h2>
Gebruikers
</h2>

<p>
Door zich te registreren op de AlterMotif website aanvaard u onze gebruiksovereenkomst. Daarmee aanvaard u dus impliciet de rechten en plichten die uit deze overeenkomst voortkomen en dat u eraan zal voldoen en dat de verhoudingen tussen u, AlterMotif, andere gebruikers en derden is gebaseerd op relaties te goeder trouw. U aanvaard ook dat hier niet aan voldoen zal leiden tot de schorsing of permanente verwijdering van uw profiel van AlterMotif. 
</p>

<p>
Uw verhouding met andere gebruikers
</p>

<p>
U bent ervoor verantwoordelijk dat uw interacties met anderen te goeder trouw zijn en in overeenstemming met de wet en met de principes van de AlterMotif gemeenschap. AlterMotif neemt geen deel in het proces van hoe u uw projecten beheert en hoe u deelneemt aan de projecten van andere gebruikers. U bent verantwoordelijk voor de aanlevering van accurate informatie aan anderen, voor de respectering van de persoonlijke rechten en intellectuele eigendomsrechten van anderen, en voor het vervullen van de beloften die u maakt aan anderen. AlterMotif is niet verantwoordelijk voor het eventuele niet te goeder trouw handelen van gebruikers.
</p>

<p>
AlterMotif beschikt niet over de middelen om de feitelijke interacties tussen gebruikers te controleren en kan niet instaan voor de accuraatheid van de informatie die elke gebruiker op zijn/haar profiel plaatst. In meer gedetailleerde termen, als gebruiker bent u verantwoordelijk voor : 
</p>

<ul>
<li>De behandeling van andere gebruikers te goeder trouw en het waarborgen dat AlterMotif een fatsoenlijke plaats blijft om tijd te spenderen en om bij te dragen aan doelen zonder winstoogmerk</li>
<li>Het respecteren van de privacy, de persoonlijke informatie en de intellectuele rechten van elke gebruiker</li>
<li>Het nakomen van de beloften die u aan anderen hebt gemaakt</li>
<li>Het niet gebruiken van informatie die u via de website verwerft voor persoonlijke, commerciële doeleinden</li>
<li>Het niet verspreiden van informatie die niet aan u toebehoort zoals, maar niet gelimiteerd tot, persoonlijke informatie, photo's en financiële informatie zoals over een kredietkaart</li> 
<li>Het niet gebruiken of reproduceren van ideeën van andere gebruikers zonder hun expliciete toestemming</li>
</ul>

<p>
Elke inbreuk op het voorgaande kan leiden tot de permanente verwijdering van uw account 
</p>

<h2>
Uw verhouding tot derden
</h2>

<p>
U mag de informatie over derden niet gebruiken op de website van AlterMotif indien deze informatie :
</p>
<ul>
<li>Van persoonlijke of private aard is en indien ze zonder toestemming werd verworven</li>
<li>Van commerciële aard is en een bepaald product of dienst promoot</li>
</ul>

<h2>
Projecten
</h2>

<p>
AlterMotif is er om mensen toe te laten om mensen en middelen te vinden ter realisatie van hun projecten. Door zich te registreren, aanvaard u dat u anderen en hun projecten te goeder trouw behandelt. U kan projecten opstarten en zonder beperking de projecten van anderen zoeken, overlopen en zich kandidaat stellen om eraan deel te nemen. Er moeten hierbij echter een aantal regels in acht worden genomen : 
</p>

<ul>
<li>Cruciaal voor de website, zijn voornaamste en belangrijkste principe, is dat projecten winst niet als uiteindelijk of enig doel mogen hebben. Wij spannen ons sterk in voor deze website en dit doen we omdat we van mening zijn dat natuurlijke menselijke interacties, bevrijd van het blinde najagen van winst, daadwerkelijk een verschil zal maken in de wereld. Wij verwachten van u, en vragen u, om dezelfde gevoeligheid voor dit principe aan de dag te leggen. Dit betekent niet dat uw projecten geen inkomen of winst mogen genereren, maar enkel dat zij een duidelijk en welomschreven doel moeten nastreven, en geen zuiver winstoogmerk. Hoewel we maatregelen nemen om te verzekeren dat de website wordt gebruikt zoals bedoeld, kunnen we niet verzekeren dat elk project aan deze criteria voldoet. Gebruikers zijn er voor verantwoordelijk om voortdurend te goeder trouw en zonder winstoogmerk te handelen.</li>
<li>Projecten kunnen geen inbreuk maken op de nationale of internationale wetgeving.</li>
<li>Projecten met de volgende kenmerken zullen verwijderd worden, waarbij hun leiders en eventueel ook andere deelnemers permanent zullen verwijderd worden van de website: promotie van illegale drugs, pornografie, kindermisbruik, elke daad van uitbuitend gedrag naar dieren of mensen toe, discriminatie en onderdrukkende politieke campagnes met negatieve gevolgen voor mensen. </li>
<li>Projecten kunnen niet in conflict zijn met intellectuele eigendomsrechten, u mag andermans ideeën niet doen voorkomen als de uwe. Indien u dit toch doet, dan is AlterMotif niet verantwoordelijk voor deze inbreuken en bent u alleen verantwoordelijk voor de authenticiteit van uw idee en voor het aantonen hiervan indien een beschuldiging dit zou noodzaken.</li>
<li>AlterMotif behoudt het recht om te beslissen of een project overeenstemt met de algemene - hier beschreven - principes die ten grondslag liggen aan de website.</li>
<li>Projecten hebben drie rollen: leider, administrator en lid. </li>
<li>Projectleiders hebben de uiteindelijke controle over het project. Zij kunnen het project niet verlaten of hun account verwijderen zolang zij leider zijn van één of meerdere projecten; zij moeten hiervoor eerst hun leiderspositie naar een andere gebruiker overdragen of het project annuleren of beëindigen.</li>
<li>Projectleiders, evenals projectadministratoren, kunnen beslissen om de kandidatuur van andere gebruikers om aan een project deel te nemen te aanvaarden of te weigeren.</li>
<li>Projectleiders, evenals projectadministratoren, kunnen leden uit een project verwijderen. Ze zijn verantwoordelijk om te goeder trouw te handelen in hun interacties met andere deelnemers aan het project.</li>
<li>Al de deelnemers aan een project (leider, administratoren en leden) zijn verantwoordelijk om jegens elkaar te goeder trouw te handelen. AlterMotif kan niet verzekeren dat de beloofde uitkomst van een project zal gerealiseerd worden en kan niet verantwoordelijk gesteld worden indien beloftes die gemaakt zijn door deelnemers aan een project niet worden nagekomen.</li>
</ul>

<p>
Elke inbreuk op het voorgaande kan leiden tot de permanente verwijdering van een project en/of van uw account.
</p>

<h2>
Fora
</h2>

<p>
De fora zijn ontwikkeld om de uitwissling van informatie tussen de projectdeelnemers en tussen alle gebruikers van AlterMotif te faciliteren. U bent individueel verantwoordelijk voor wat u in de fora plaatst. De volgende regels zijn van toepassing :
</p>
 
<ul>
<li>Geen inbreuk op de nationale of internationale wetgeving</li>
<li>Er dient te worden gehandeld te goeder trouw</li>
<li>U kan een forum of enig ander deel van de website niet gebruiken voor spam of 'phishing' doeleinden. Spam berichten betreffen o.m. massaberichten en commerciële advertenties</li>
<li>Geen aanzet tot haat, geen discriminatieve, racistische of sexistische opmerkingen</li>
<li>Geen bevooroordeelde uitspraken</li>
<li>Geen gewelddadige, beledigende, sexueel ongepaste inhoud, geen naaktheid</li>
<li>Geen inbreuk op de persoonlijke rechten van andere gebruikers of derden</li>
<li>Geen inbreuk op fysieke of intellectuele eigendomsrechten</li>
<li>Geen linken naar commerciële websites met de intentie om reclame te voeren</li>
</ul>
 
<p>
Elke inbreuk op het voorgaande kan leiden tot de permanente verwijdering van een discussiepost en/of van uw account.
</p>

<h2>
Linken
</h2>

<p>
Gebruikers mogen linken plaatsen naar websites van derden op hun persoonlijke profiel, op de fora en op projectpagina's. Door deze linken te plaatsen, accepteert u bij voorbaat dat wij niet verantwoordelijk of aansprakelijk zijn voor hun inhoud of accuraatheid. Gebruikers kunnen geen linken plaatsen naar commerciële doeleinden met de intentie om reclame te voeren.
</p>

<p>
Linken naar de websites van derden vormen de persoonlijke bijdrage van gebruikers en AlterMotif onderschrijft of steunt geen enkele van deze websites of hun inhoud. Gebruikers aanvaarden dat de linken die zij op AlterMotif plaatsen het volgende niet mogen bevatten : 
</p>

<ul>
<li>inhoud die een inbreuk vormt op de nationale of internationale wetgeving</li>
<li>inhoud die een inbreuk vormt op persoonlijke, contractuele of intellectuele rechten</li>
<li>inhoud die een inbreuk vormt op de algemene goede trouw en gemeenschapsregels</li>
<li>misleidende, onnauwkeurige informatie of fraude</li>
<li>Junk mail, spam of kettingbrieven</li>
<li>Virussen of enige ander computercode  die interfereert met de goede werking van software of hardware</li>
 <li>Codes of virussen met als doel de onbevoegde toegang to enige vorm van informatie of wachtwoorden</li>
</ul>

<p>
Elke inbreuk op het voorgaande kan leiden tot de permanente verwijdering van een link en/of van uw account. 
</p>

<h2>
Beperkingen op de aansprakelijkheid
</h2>

<p>
Door de gebruiksovereenkomst te aanvaarden, aanvaardt u dat AlterMotif niet aansprakelijk is voor :
</p>

<ul>
<li>Elke interactie tussen individuen die van zijn diensten gebruik maken onderling en met derden ongeacht of zij via AlterMotif met elkaar in contact kwamen</li> 
<li>Elke actie, handelswijze, misbruik of wangedrag van individuen die van zijn diensten gebruik maken of van derden</li>
<li>Schade die voortkomt uit de interactie tussen de individuen die van zijn diensten gebruik maken onderling en met derden</li>
<li>De nauwkeurigheid (of het gebrek daaraan) van informatie betreffende de projecten, beloften die gebruikers hebben gemaakt aan elkaar en het behalen of niet behalen van deadlines, het uitvoeren van toegekende taken, het verwerven van toegekende middelen en dergelijke meer</li>
</ul>

<p>
AlterMotif komt niet tussen in geschillen die voortkomen uit meningsverschillen of conflicten tussen deelnemers aan projecten onderling en met derden, ongeacht de aard van hun meningsverschil
</p>

<p>
Van kracht vanaf januari 2012
</p>
</div>

</div>