#{extends 'masterTemplate.html' /}


#{set 'moreStyles'}
#{/set}


#{set 'moreScripts'}
	<script  type="text/javascript">
		var isTermsAndConditionsPage = true;
	</script>
#{/set}


<div 	class="pageContainer">

<div class="logoAM"></div>
<div class="generalInfoTexts">


<h1>Site Kullanım Kuralları</h1>
<br />

<h2>AlterMotif</h2>

<p>
AlterMotif, kullanıcıları arasında dayanışma ve ortak çalışmayı kolaylaştırmak ve güçlendirmek amacı taşıyan bir internet platformudur. AlterMotif’e bağlı resmi kuruluş, merkezi Brüksel, Belçika’da bulunan, aynı ismi taşıyan ve kar amacı gütmeyen bir kurulus olan AlterMotif ASBL’dir.  </p>

<h2>
Kayıt
</h2>

<p>
Sitenin bazı kısımları kayıt olmadan da ulaşılabilir olduğu halde, sitede yer alan bilgilerin büyük çoğunluğuna ulaşmak için kayıt gereklidir. Kayıt olabilmek için bir kullanıcı ismi ve geçerli bir mail adresiyle beraber gerçek adınızı ve soyadınızı-veya bir kurumu temsil ediyorsanız(Dernek, kurum vs.)kurum ismini ve yasal yapısını vermeniz gerekir. Verilen bilgilerin doğruluğundan ve güvenli bir şekilde saklanmasından kullanıcı sorumludur. Yani:</p>

<ul>
<li>Bir başka kişi veya kurumu taklit edemezsiniz</li>
<li>Açık izni olmadan üçüncü kişi veya kurumlar adına kayıt olamazsınız</li>
<li>Nefret öğesi içeren, uygunsuz veya saldırgan özelliği olan bir kullanıcı ismi seçemezsiniz</li>
<li>Şifrenizi seçmek ve güvenli bir şekilde saklamak sizin sorumluluğunuzdadır</li>
<li>AlterMotif şifrenizin başkaları tarafından çalınması ve kullanılması gibi bir durumdan meydana gelebilecek zararlardan hiçbir şekilde sorumlu tutulamaz</li>
</ul>

<p>
Yukarıdaki maddelerden herhangi birisinin ihlali hesabınızın sürekli olarak kapanmasına neden olabilir.
</p>

<h2>
Kullanıcılar
</h2>

<p>
AlterMotif internet sitesine kayıt olarak, kullanım kurallarımızı onaylamış sayılıyorsunuz. Böylece bu onaydan kaynaklanan görev ve sorumlulukları kabul ediyor, bunlara uyacağınıza söz veriyor ve aynı zamanda AlterMotif, diğer kullanıcılar ve üçüncü şahıslarla olan ilişkinizin iyi niyet esasına dayalı olduğunu beyan etmiş oluyorsunuz.Aynı zamanda, bu iyi niyet çerçevesi ve yukarıdaki ilkelere uymadığınız takdirde hesabınızın askıya alınabileceği veya tamamen silinebileceğini de kabul etmiş oluyorsunuz. </p>

<p>
Diğer Kullanıcılarla İlişkiniz
</p>

<p>
Diğer kullanıcılarla ilişkilerinizi iyi niyet esasına, yasalara ve AlterMotif camiası ilkelerine uygun olarak yürütmekten siz sorumlusunuz. AlterMotif kendi projelerinizi nasıl yürüttüğünüz ve diğer kullanıcıların projelerine katılımınız konusunda sizi tamamen özgür bırakmaktadır. Diğer kullanıcılara doğru bilgi vermek, diğerlerinin kişilik ve telif haklarına saygılı olmak ve diğerlerine verdiğiniz sözleri tutmak sizin sorumluluğunuzdadır. AlterMotif, kullanıcıların iyi niyet prensibine uygun davranmadığı durumlardan hiçbir şekilde sorumlu tutulamaz. </p>

<p>
AlterMotif, kullanıcılar arasındaki ilişkileri denetlemek durumda değildir ve kullanıcıların profil sayfasında verdiği bilgilerin doğruluğuna kefil olamaz. 
Daha ayrıntılı bir biçimde, kullanıcı olarak sorumluluklarınız: 
</p>

<ul>
<li>Diğer kullanıcılara iyi niyetle yaklaşmak ve AlterMotif’in kar amacı gütmeyen çalışmalara destek olmak için ziyaret edilen keyifli bir yer olmaya devam etmesini sağlamak</li>
<li>Diğer kullanıcıların mahremiyetine, kişisel bilgilerine ve telif haklarına saygılı olmak</li>
<li>Verdiğiniz sözleri tutmak</li>
<li>Bu siteden elde ettiğiniz bilgileri kişisel ve ticari amaçlarla kullanmamak</li>
<li>Size ait olmayan bilgileri-kişisel bilgiler, fotoğraflar, kredi kartı bilgileri gibi-yaymamak</li> 
<li>Açık izinleri olmadıkça başkalarının fikirlerini kullanmamak veya sizinmiş gibi sunmamak</li>
</ul>

<p>
Yukarıdaki maddelerden herhangi birisinin ihlali kaydınızın kalıcı olarak silinmesine sebep olabilir. 
</p>

<h2>
Üçüncü Şahıslarla İlişkiniz
</h2>

<p>
Üçüncü şahıs ve kurumlara ait bilgileri AlterMotif sitesi üzerinde kullanmanıza engel olan bazı durumlar vardır. Bu durumlar şunlardır: 
</p>
<ul>
<li>Bilgiler kişisel ve mahrem özellik taşıyorsa ve/ya izinsiz olarak elde edilmişse</li>
<li>Ticari bir özellik taşıyorsa, bir ürünün veya hizmetin reklamını yapıyorsa</li>
</ul>

<h2>
Projeler
</h2>

<p>
AlterMotif’in tek amacı, kullanıcılarının gerekli insan ve diğer kaynakları bularak projelerini gerçekleştirmelerine yardımcı olmaktır. Sitemize üye olarak, diğer kullanıcılara ve onların projelerine iyi niyet çerçevesinde yaklaşmayı kabul ediyorsunuz. İstediğiniz sayıda proje başlatabilir, diğer üyelerin yaptığı projeleri arayabilir ve istediğiniz projeye başvurabilirsiniz. Bununla birlikte, uymanız gereken bazı kurallar da var: </p>

<ul>
<li>AlterMotif sitesinin en önemli ilkesi; ortaya konan projelerin nihai amacının kar etmek olmamasıdır. Bu internet sitesini hayata geçirmek için çok emek verdik ve bunu, dar bir kar-zarar zihniyetinden kurtulmuş gerçek işbirliğinin dünyayı gerçekten daha iyi bir yer yapabileceğine inanarak yaptık. Sizden de bu ilkeyi sahiplenmenizi ve bu konuya aynı hassasiyetle yaklaşmanızı bekliyor ve talep ediyoruz. Bu, burada gerçekleştirilen projelerin gelir elde edemeyeceği veya kar edemeyeceği anlamına gelmiyor. İstediğimiz sadece projelerin para kazanmak haricinde geçerli ve açıkça ortaya konmuş bir amacının olması.</li> 
<li>Projeler ulusal ve uluslararası hukuk kurallarına aykırı olamaz </li>
<li>Aşağıdaki liste ile herhangi bir şekilde ilişkilendirilebilecek projeler derhal silinecek, proje sahibi ve hatta diğer katılımcıların hesapları kalıcı olarak kapatılacaktır: uyuşturucu ticareti, pornografi, çocuk istismarı, hayvanlar ve insanlara yönelik her türlü kötüye kullanma ve köleleştirme tavrı, ayrımcılık ve insanlar için olumsuz sonuçlar doğurabilecek her türlü siyasi kampanya.</li>  
<li>Projeler Telif Hakkı Yasalarına aykırı olamaz: bir başkasının fikrini kendinizmiş gibi sunamazsınız. Eğer böyle bir şey yaparsanız, bundan AlterMotif sorumlu tutulamaz ve sunduğunuz fikirlerin size ait olduğunu kanıtlamak-aksi iddia edilirse-tamamen sizin sorumluluğunuzdadır.</li>
<li>AlterMotif, sitedeki herhangi bir projenin, herhangi bir anda, sitenin -bu belgede bahsedilen-genel prensiplerine uygun olup olmadığına karar verme hakkını saklı tutar. </li>
<li>Projelerin üç tip katılımcısı vardır: proje lideri, proje yöneticisi ve diğer proje üyeleri. </li>
<li>Proje liderinin proje üzerinde tam yetkisi vardır. Bir veya birden fazla projenin lideri konumunda olan bir kişi, yerine başka birisini bulmadan lideri olduğu proje(ler)den ayrılamaz ve AlterMotif hesabını pasif yapamaz. Liderlik konumunu başka bir kullanıcıya devretmeleri veya projeyi sonlandırmaları veya projeyi silmeleri gerekir. </li>
<li>Proje lideri ve proje yöneticisi, diğer kullanıcıların projeye katılma başvurularını kabul veya reddetme hakkına sahiptirler.  </li>
<li>Proje lideri ve proje yöneticileri diğer üyeleri projeden çıkarma hakkına sahiptirler. Bu hakları iyi niyet çerçevesinde kullanmaktan kendileri sorumludur.</li>
<li>Tüm proje katılımcıları (lider, yöneticiler ve üyeler)birbirlerine iyi niyet çerçevesinde davranmaktan sorumludur. </li>
<li>AlterMotif herhangi bir projenin öngörüldüğü veya söz verildiği gibi sonlanacağını taahhüt edemez ve katılımcıların verdikleri sözleri tutmamaları durumunda bundan sorumlu tutulamaz.</li>
</ul>

<p>
Yukarıda maddelerden herhangi birinin ihlali projenin kalıcı olarak silinmesine ve/veya ilişkili kullanıcıların hesaplarının silinmesine sebep olabilir. 
</p>

<h2>
Tartışma Forumları
</h2>

<p>
Forumlar proje katılımcıları ve diğer tüm AlterMotif üyeleri arasındaki iletişimi kolaylaştırmak için tasarlanmıştır. Forumlara yazılan mesajların tek sorumlusu mesajların yazarıdır.Uyulması gereken kurallar şunlardır:</p>
 
<ul>
<li>Ulusal ve uluslararası hukuk ihlal edilemez</li>
<li>İyi niyet ilkesi geçerlidir</li>
<li>Forum sayfaları veya sitenin herhangi bir kısmını spam ve kimlik hırsızlığı amacıyla kullanılamaz. Spam olarak kabul edilen mesajlar toplu mesajlar/postalar ve ticari içerikli, reklam amaçlı mesajlardır ama bununla sınırlı değildir.  </li>
<li>Nefret içerikli, ayrımcı, ırkçı ve cinsiyetçi ifadeler kullanılamaz</li>
<li>Tek tipleştirici ifadeler kullanılamaz </li>
<li>Şiddet içeren, saldırgan ve cinsel açıdan uygunsuz içerik kullanılamaz </li>
<li>Üyelerin ve üçüncü şahısların kişilik hakları ihlal edilemez</li>
<li>Telif hakları, bireysel haklar, kişilik hakları ve mülkiyet hakları ihlal edilemez</li>
<li>Reklam amaçlı sitelere bağlantı/link verilemez</li>
</ul>
 
<p>
Yukarıdaki maddelerden herhangi birisinin ihlali kaydınızın kalıcı olarak silinmesine sebep olabilir. 
</p>

<h2>
Bağlantılar 
</h2>

<p>
Kullanıcılar kendi profil sayfalarına, proje sayfalarına veya forumlara diğer internet sitelerine bağlantı linkleri ekleyebilirler. 
Bu bağlantı linklerini AlterMotif sitesine ekleyen kullanıcı, AlterMotif’in bu sitelerde bulunan içerikten hiçbir şekilde sorumlu tutulamayacağını kabul eder.Reklam içerikli, ticari amaçlı sitelerin linklerini siteye eklemek yasaktır. 
</p>

<p>
Üçüncü şahıs internet sitelerine yapılan her türlü bağlantı kullanıcıların kendi görüşlerini yansıtır, ve AlterMotif hiçbir şekilde bu siteleri desteklemez ve içeriklerinden sorumlu tutulamaz. Kullanıcılar aşağıdaki özellikleri taşıyan bağlantıları AlterMotif sayfalarına eklemeyeceklerini kabul ederler: </p>

<ul>
<li>Ulusal ve uluslararası hukuka aykırı içerik barındıran siteler</li>
<li>Kişilik, telif haklarını ve sözleşmelerden doğan hakları ihlal eden içerik barındıran siteler</li>
<li>İyi niyet ilkelerine ve camia kurallarına ters düşen içerik barındıran siteler  </li>
<li>Yanlış, yalan bilgi içeren ve/veya dolandırıcılık için kurulmuş siteler</li>
<li>Spam ve zincir postaları </li>
<li>Virüs içeren, yazılımlar ve bilgisayarın kendisinin işleyişine zarar verme amacı güden her türlü bilgisayar kodu içeren siteler</li>
<li>Yetki ve izin olmadan her türlü bilgi ve şifreyi elde etmeye yönelik bilgisayar virüs ve kodları barındıran siteler </li>
</ul>

<p>
Yukarıdaki maddelerden herhangi birisinin ihlali bağlantının ve kaydınızın kalıcı olarak silinmesine sebep olabilir. 
</p>

<h2>
Sorumluluk Sınırları
</h2>

<p>
Kullanıcı işbu kullanım kurallarını kabul ederek, AlterMotif’in aşağıdakilerden sorumlu tutulamayacağını kabul etmiş olur:
</p>

<ul>
<li>AlterMotif aracılığıyla irtibata geçmiş olsun olmasın, siteyi kullanan tüm bireyler ve kurumlar arasındaki etkileşimler ve bunların üçüncü şahıslarla ilişkileri</li> 
<li>AlterMotif hizmetlerini kullanan kişiler ve/ya kurumlar veya üçüncü şahısların kötü niyetli davranış ve eylemleri</li>
<li>AlterMotif hizmetlerini kullanan kişi ve kurumlar ve/ya üçüncü şahısların etkileşimlerinden kaynaklanan her türlü zarar veya hasar</li>
<li>Projeler, üyelerin birbirlerine verdiği sözlerin tutulması, yapılması gereken işlerin zamanında bitirilmesi ve beceriler ve görevlerle ilgili verilen bilgilerin doğruluğu (veya yanlışlığı)</li>
</ul>

<p>
AlterMotif işbu gizlilik kuralları üzerinde istediği anda ve kullanıcılarına danışma veya onların iznini alma gereği duymadan değişiklik yapma hakkını saklı tutar. AlterMotif’e üye olmak, iş bu dokümanı anladığınız ve onayladığınız anlamına gelir.  
<p>

<p>
Ocak 2012 tarihinden itibaren geçerlidir.
</p>

</div>

</div>