#{extends 'masterTemplate.html' /}


#{set 'moreStyles'}
#{/set}

#{set 'moreScripts'}
	<script  type="text/javascript">
		var isTermsAndConditionsPage = true;
	</script>
#{/set}


<div 	class="pageContainer">

<h1>Terms and conditions</h1>
<br />

<h2>AlterMotif</h2>

<p>
AlterMotif is a virtual platform designed to facilitate the interaction and cooperation between users to realize a wide variety of projects. Legal entity tied to AlterMotif is the non-for profit organization bearing the same name, AlterMotif ASBL, registered in Brussels, Belgium. 
</p>

<h2>
Registration
</h2>

<p>
Although you can see some parts of the website without registration, a large amount of information is accessible only to registered users. In order to register, you have to provide an e-mail address and username, as well as your real name and surname or, in case you represent a moral entity (an organization, group, NGO), the name and legal stature of your organization. You may choose to make your real name invisible to other users. You are responsible for providing accurate information about your personal details and keeping them safe. By this we mean :
</p>

<ul>
<li>You can not impersonate other people and entities</li>
<li>You can not set up an account as a third party without the permission thereof</li>
<li>You can not use an offensive, hate-inciting or inappropriate username</li>
<li>You are responsible for selecting and storing your password in a secure way</li>
<li>AlterMotif can not be held responsible for any damage resulting from your password being stolen or used by other people</li>
</ul>

<p>
Any violation of the above might result in permanent cancellation of your account. 
</p>

<h2>
Users
</h2>

<p>
By registering on the AlterMotif website, you agree with our Terms and Conditions. Hence, you implicitly accept the rights and duties rising from this agreement and that you will comply with them and that the relation between you, AlterMotif, other users and third parties is based on relations in good faith. You also accept that failing to do so will results in suspension or permanent deletion of your account from AlterMotif. 
</p>

<p>
Your relation to other users
</p>

<p>
You are responsible for your interaction with others in good faith and in accordance with the law and principles of the AlterMotif community. AlterMotif does not take part in the process of how you manage your projects and participate in other users' projects. You are responsible for providing accurate information to others, respect others' personal rights and copyrights, and fulfill your promises towards others. AlterMotif is not responsible for any failure from users' part to act in good faith. 
</p>

<p>
AlterMotif does not possess the resources to monitor the actual exchange between users and can not vouch for the accuracy of information each user posts on his/her profile. In more detailed terms, as a user you are responsible for : 
</p>

<ul>
<li>Treating other users in good faith and making sure that AlterMotif remains a decent place to spend time and to contribute to non profit causes</li>
<li>Respecting each users' privacy, personal information and intellectual rights</li>
<li>Keeping the promises you've made to other users</li>
<li>Not using any information you obtain from the website for personal, commercial purposes</li>
<li>Not to disseminate information which do not belong to you including but not limited to personal information, photographs and financial information like credit card information</li> 
<li>Not to use and reproduce ideas of other users without their explicit permission*****</li>
</ul>

<p>
Any violation of the above might result in permanent cancellation of your account. 
</p>

<h2>
Your relation to third parties
</h2>

<p>
You may not use third party information on AlterMotif website if this information is:
</p>
<ul>
<li>Of personal and private in nature and if it is obtained without permission</li>
<li>Of commercial in nature and promotes a particular product or service</li>
</ul>

<h2>
Projects
</h2>

<p>
AlterMotif is here to facilitate for people to find people and resources to realize their projects. By becoming member, you accept that you have a good faith approach to others and to their projects. You can initiate projects and search, browse and apply to those of others without limitations. However a set of rules apply : 
</p>

<ul>
<li>Backbone of the website, its main and most important principle is that the projects can not have profit as their ultimate aim or sole purpose. We put great efforts into this website and we did it because we believe genuine human interaction, freed from blind pursuit of profit will actually make a difference in the world. We expect you, and demand from you, the same sensitivity to this principle. That does not mean your projects can not generate income or profit, but only they have to have clear and well defined purposes -other than profit-. Though we deploy measures to ensure the website is used as intended, we can not make sure that all of the projects are fulfilling these criteria. Users are responsible for preserving their good faith and non-for profit behavior.</li> 
<li>Projects can not be in violation of national or international law. </li>
<li>Projects with following aspects will be deleted, with their leaders and possibly other participants removed from the site permanently: promotion of illegal drugs, pornography, child abuse, any kind of exploitative behavior towards animals and people, discrimination and oppressive political campaigns with negative repercussions on people.</li>  
<li>Projects can not be in conflict with copyright laws: you may not present someone else's idea as yours. If you do so, AlterMotif is not responsible for such violations and your are solely responsible for the authenticity of your idea and to defend it from any accusation which might imply otherwise</li>
<li>AlterMotif preserves the right to decide whether a project is in line with general principles - hereby described - underlying the website.</li>
<li>Projects have three roles: leader, administrator and member. </li>
<li>Project leaders have ultimate control of the project. They can not leave the project or delete their AlterMotif account while they are the leader of one or more projects. For this, they first have to transfer these rights to another user or they have to cancel or end the project.</li>
<li>Project leaders, as well as project administrators, can decide to accept or reject the application from other users to participate to their projects.</li>
<li>Project leaders, as well as project administrators, can remove members from projects. They are responsible for acting in good faith in their interactions with other project participants.</li>
<li>All project participants (leaders, administrators and members) are responsible for acting in good faith towards one another. AlterMotif can not ensure the promised outcomes of projects and it can not be held responsible for any failure to fulfill the promises made by any of the members, administrators or leaders.</li>
</ul>

<p>
Any violation of the above might result in permanent cancellation of a project and/or of your account. 
</p>

<h2>
Forums
</h2>

<p>
Forums are designed to facilitate the exchange of information between participants of projects and between all users of AlterMotif. You are solely responsible for what you post in forums. Following rules apply :
</p>
 
<ul>
<li>No violation of national and/or international law</li>
<li>Based on good faith</li>
<li>You can not use the forum or any part of website to spam people or for phishing purposes. Spam mails include but not limited to bulk messages and commercial ads</li>
<li>No hate speech, no discriminative, racist or sexist remarks</li>
<li>No stereotypical remarks</li>
<li>No violent, offensive, sexually inappropriate content, no nudity</li>
<li>No violation of personal rights of other users or any third parties</li>
<li>No violation of physical or intellectual property rights</li>
<li>No links to commercial websites with the intention of advertising</li>
</ul>
 
<p>
Any violation of the above might result in permanent cancellation of a thread and/or of your account. 
</p>

<h2>
Links
</h2>

<p>
Users might insert links to third party websites on their personal profile, forums or project pages. By placing those links on our website, you accept beforehand that we are not responsible or liable for their content and accuracy. Users cannot insert links to commercial websites with the intention of advertising
</p>

<p>
Links to third party websites are reflecting personal contribution of users and AlterMotif do not endorse or support any of those websites and their content. Users agree that links they put on AlterMotif can not include : 
</p>

<ul>
<li>content that violates national and/or international law</li>
<li>content that violates personal, contractual or intellectual rights</li>
<li>content that violates general good faith and community rules</li>
<li>Misleading, inaccurate information or frauds</li>
<li>Junk mail, spam or chain letters</li>
<li>viruses or any other computer codes that aim to interfere with the proper functioning of any software or hardware</li>
 <li>codes or viruses that aim to obtain unauthorized access to any kind of information or password </li>
</ul>

<p>
Any violation of the above might result in permanent cancellation of a link and/or of your account. 
</p>

<h2>
Limitations to liability
</h2>

<p>
By accepting the terms of agreement, you accept that AlterMotif is not liable for : 
</p>

<ul>
<li>Any interaction between individuals using its services mutually and with third parties whether they came into contact through AlterMotif or not</li> 
<li>Any action, behavior, misuse or misconduct of individuals using its services or of any third parties</li>
<li>Any damage resulting from the mutual interactions between individuals using its services and with third parties</li>
<li>The accuracy (and lack thereof) of information regarding the projects, promises users made to each other and success or failures regarding meeting deadlines, performing assigned tasks, acquiring assigned assets and the like</li>
</ul>

<p>
AlterMotif does not take part in disputes resulting from disagreement or conflicts between project participants mutually and with third parties, regardless of the nature of their disagreement
</p>

<p>
Effective as of January 2012 
</p>



</div>