<div class="confirmedParticipant">

	<span class="hiddenParticipantId" style="display: none" ">${_participant.user.userName}</span>
	
	<a href="@{profile.ProfileView.profileView( _participant.user.userName)}" class="dabLink">
		<img src="${_participant.user.mainPhotoThumbLink}" class="profileContactThumb" />
	</a>
	
	<div class="profileLink">
	
		*{
		#{if _profileVisibility.visitingHisOwnProfile}
			<img src="@{'/public/images/trash.png'}" class="deleteImageLink" />
			<span class="hiddenUserName" style="display: none">${_participant.user.userName}</span>
		#{/if}
		}*
	
		<a href="@{profile.ProfileView.profileView( _participant.user.userName)}" class="dabLink">${_participant.user.userName}</a>
		
		${_participant.user.location}
		<br />
		
		&{'groupRole'}: <span> &{_participant.role.label} </span>
	</div>

</div>