<div class="oneGroupParticipationLine">

	<a href="@{groups.GroupsView.groupsView( _group.groupSummary.groupId )}" > 
	#{if !_group.groupSummary.hasAThumbPhoto() }
			<img src="@{'/public/images/defaultGroupThumb.jpg'}" class="oneLinerThumb" />
	#{/if}
	#{else  } 
		<img src="${_group.groupSummary.mainPhotoThumbLink}" class="oneLinerThumb" />
	#{/else}
	</a>

	<div>
		<a href="@{groups.GroupsView.groupsView( _group.groupSummary.groupId )}" class="dabLink">${_group.groupSummary.name}</a>
		<br />
		&{'groupRole'}: &{_group.role.label}
	</div>
</div>
