#{extends 'masterTemplate.html' /} 

#{set 'moreStyles'}
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/projects/projectsView.css'}" />
#{/set} 

#{set 'moreScripts'}
    <script src="@{'/public/javascripts/dab/viewForumThreadDetails.js'}" type="text/javascript" charset="${_response_encoding}"></script>

	<script type="text/javascript">
		
		var postNewComment = #{jsAction @forum.ForumThreadView.postNewComment(':threadId', ':postContent') /};
		var getNewAndDeletedPosts = #{jsAction @forum.ForumThreadView.getNewAndDeletedPosts(':threadId', ':currentlyKnownIds') /};
		var deletePost = #{jsAction @forum.ForumThreadView.deletePost(':threadId', ':postId') /};
		var movePost = #{jsAction @forum.ForumThreadView.movePost(':originalThreadId', ':targetThreadId', ':postId') /};
		
		var threadId = "${thread.id}";
		
		var elapsedTimeUnits = {
				NONE : "&{'nolabel'}",
				SECONDS : "&{'elapsedTimeSeconsds'}",
				MINUTES : "&{'elapsedTimeMinutes'}",
				HOURS : "&{'elapsedTimeHours'}",
		};
		
		var confirmDeleteForumThreadText = "&{'projectForumThreadConfirmDeletePost'}";
		
	</script>

#{/set}

<div id="projectViewContainer" class="pageContainer">

	#{if project != null}
		<p class="pageTitle">${project?.pdata?.name} <a class="dabLink" href="@{projects.ProjectsView.projectsView(project.id)}">&{'projectForumThreadBackToProject'}</a></p>
	#{/if}
	#{if group != null}
		<p class="pageTitle">${group?.name} <a class="dabLink" href="@{groups.GroupsView.groupsView(group.id)}">&{'groupForumThreadBackToGroup'}</a></p>
	#{/if}
	
	<p class="forumSubTitle">&{'projectForumThreadThread'}: ${thread.title} #{if !thread.isThreadPublic} &{'projectForumThreadPrivate'}#{/if}</p>
	
	
	<div id="forumThreadContainer">
	
		#{if forumThreadVisibility.postNewThreadLinkVisible}
			<div id="forumThreadNewPost">
				<input id="forumThreadPostButton" type="button" value="&{'forumThreadPostButtonText'}"></input>
				<textarea id="forumThreadPostText" rows="6" ></textarea>
			</div>
		#{/if}
		
		
		<div id="forumPosts" data-bind="template : {foreach: allPosts, beforeRemove: beforeRemovePost, afterAdd: afterAddPost}">
			<div class="breakerDiv"></div>
			<div class="onePost">
				<div class="onePostPhotoBlock">
					<a  data-bind="attr: { href: authorProfileLink}">
						<img data-bind="attr: { src: authorPhotoUrl}" class="profileContactThumb" />
					</a>
					<br/>
					<a class="dabLink" data-bind="text: authorId, attr: { href: authorProfileLink}"></a>
				</div>
			</div>
			<div class="onePostMainBlock">
				<span class="hidden hiddenPostId" data-bind="text: id"></span>
				<span>&{'projectForumThreadPostDate'}:</span>
				<span data-bind="text: creationDate" ></span>
				<input class="deleteThreadButton" type="button" value="&{'projectForumThreadDeletePost'}" data-bind="visible: userMayDelete"></input>
				<input class="moveThreadButton" type="button" value="&{'projectForumThreadMovePost'}" data-bind="visible: userMayMove"></input>
				<pre class="postContent" data-bind="text: content"></pre>
			</div>
		</div>
	</div>
	
	<div id="forumThreadData">
		#{list items:threadPosts, as:'onePost'}
			<div class="onePost">
				<span class="postId">${onePost.id}</span>
				<span class="postElapsedTimeSinceCreation">${onePost.elapsedTimeSinceCreation}</span>
				<span class="postElapsedTimeUnit">&{onePost.elapsedTimeUnit.label}</span>
				<span class="postContent">${onePost.content}</span>
				<span class="postAuthorId">${onePost.author.userName}</span>
				<a class="profileLink" href="@{profile.ProfileView.profileView(onePost.author.userName)}"></a>
				<span class="postAuthorPhotoUrl">${onePost.author.mainPhotoThumbLink}</span>
				<span class="postAuthorIsActive">${onePost.author.profileActive}</span>
				
				<span class="visitorMayDelete">${forumThreadVisibility.deletePostLinkVisible}</span>
				<span class="visitorMayMove">${forumThreadVisibility.movePostLinkVisible}</span>
			</div>
		#{/list}
	</div>

	<div id="projectForumThreadMoveThreadPopup" >
		<span>&{'projectForumThreadMoveThreadPopupText'}</span>
		<br />
		<br />
		<div class="centerDropDown">
			#{select "targetThread", items:allOtherThread, labelProperty:"title", valueProperty:"id" /}
		</div>
	
	</div>


</div>
